<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'MENUITEMS.WALLET.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'MENUITEMS.REQUEST-PAY.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>
              {{ 'REQUESTS-PAGE.TITTLE-PAGE.TEXT' | translate }}
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <ngb-alert [dismissible]="false" class="alert-has-icon" type="info">
                  <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                  <div class="alert-body">
                    <div class="alert-title">
                      {{ 'REQUESTS-PAGE.TITTLE-MSJ-INFO.TEXT' | translate }}
                    </div>
                    <ul>
                      <!-- <li>
                        {{ 'REQUESTS-PAGE.FIST-MSJ-INFO.TEXT' | translate }}
                      </li> -->
                      <li>
                        {{ 'REQUESTS-PAGE.SECOND-MSJ-INFO.TEXT' | translate }} {{ walletWithdrawalsConfig.minimum_amount
                        }}
                      </li>
                      <!-- <li *ngIf="walletWithdrawalsConfig.maximum_amount != 0">
                        {{ 'REQUESTS-PAGE.THIRD-MSJ-INFO.TEXT' | translate }} {{ walletWithdrawalsConfig.maximum_amount
                        }}
                      </li>
                      <li>
                        {{ 'REQUESTS-PAGE.FOUR-MSJ-INFO.TEXT' | translate }}
                      </li> -->
                    </ul>
                  </div>
                </ngb-alert>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ngb-alert [dismissible]="false" class="alert-title" type="light">
                  <div class="alert-body">
                    <div class="alert-title">
                      {{ 'REQUESTS-PAGE.AVAILABLE-BALANCE-WALLET.TEXT' | translate }}
                    </div>
                    <h4> $ {{ balanceInfo.availableBalance ?? 0 | truncateDecimals:2 }}</h4>
                  </div>
                </ngb-alert>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div>
                        <div class="form-group">
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i-feather name="search" style="color: #96a2b4;"></i-feather>
                              </div>
                            </div>
                            <input style="background-color: white;" type="text" class="form-control"
                              id="inlineFormInputGroup" (keyup)='updateFilter($event)' aria-label="Search box"
                              placeholder="{{ 'REQUESTS-PAGE.SEARCH.TEXT' | translate }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="header-buttons-left">
                      <div class="tbl-btn-style">
                        <button class="btn btn-primary"
                          (click)="modalChildCreate.openCreateRequestModal(modalChildCreate['createRequestModal'])">
                          {{'REQUESTS-PAGE.PROCESS-PAYMENT.TEXT' | translate}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h6>
                    {{ 'REQUESTS-PAGE.TITTLE-TABLE.TEXT' | translate }}
                  </h6>
                </div>
                <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column name="{{ 'REQUESTS-PAGE.AMOUNT-WITHDRAW-COLUMN.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      $ {{ row.amount }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'REQUESTS-PAGE.OBSERVATION-COLUMN.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.concept }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'REQUESTS-PAGE.ADMIN-ANSWER-COLUMN.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.status == 0" class="badge-outline col-yellow">
                        {{ 'REQUESTS-PAGE.ADMIN-ANSWER.NOT-ATTENDED.TEXT' | translate }}
                      </div>
                      <div *ngIf="row.status == 1" class="badge-outline col-green">
                        {{ 'REQUESTS-PAGE.ADMIN-ANSWER.ATTENDED.TEXT' | translate }}
                      </div>
                      <div *ngIf="row.status == 2" class="badge-outline col-red">
                        {{ 'REQUESTS-PAGE.ADMIN-ANSWER.CANCELLED.TEXT' | translate }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'REQUESTS-PAGE.STATE-COLUMN.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.status == 0" class="badge-outline col-yellow">
                        {{ 'REQUESTS-PAGE.STATE.PENDING.TEXT' | translate }}
                      </div>
                      <div *ngIf="row.status == 1" class="badge-outline col-green">
                        {{ 'REQUESTS-PAGE.STATE.APPROVED.TEXT' | translate }}
                      </div>
                      <div *ngIf="row.status == 2" class="badge-outline col-red">
                        {{ 'REQUESTS-PAGE.STATE.CANCELLED.TEXT' | translate }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'REQUESTS-PAGE.REQUEST-TYPE.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.type == 'withdrawal_request'" class="badge-outline col-blue">
                        {{ 'REQUESTS-PAGE.TYPE.WITHDRAWAL.TEXT' | translate }}
                      </div>
                      <div *ngIf="row.type == 'revert_invoice_request'" class="badge-outline col-orange">
                        {{ 'REQUESTS-PAGE.REQUEST-TYPE.REVERT-INVOICE.TEXT' | translate }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-create-requests-modal (loadWalletRequest)="loadWalletRequest()" (setAvailableBalance)="setAvailableBalance()"
  [user]="user" [balanceInfo]="balanceInfo" [walletWithdrawalConfig]="walletWithdrawalsConfig"
  #modalChildCreate></app-create-requests-modal>
