<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Detalles</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/app/home"> <i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="row">
    <!-- <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h5 class="mb-0">Cantidad Modelo 1A</h5>
              <span
                class="fw-bold mb-0 font-15 text-success">{{ (information.amountPoolModel1A ?? 0) + ' Tokens' }}</span>
            </div>
            <i class="fas fa-coins card-icon col-blue font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h5 class="mb-0">Cantidad Modelo 1B</h5>
              <span
                class="fw-bold mb-0 font-15 text-success">{{ (information.amountPoolModel1B ?? 0) + ' Tokens' }}</span>
            </div>
            <i class="fas fa-coins card-icon col-purple font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-xl-6 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h5 class="mb-0">Cantidad Recycoins</h5>
              <span class="fw-bold mb-0 font-15 text-success">
                {{ (information.amountPoolModel2 ?? 0) + ' Tokens' }}
              </span>
            </div>
            <i class="fas fa-coins card-icon col-red font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h5 class="mb-0">Información de red Recycoins</h5>
              <span class="fw-bold mb-0 font-15 text-success">
                {{ (information.amountPoolModel3 ?? 0) + ' Tokens' }}
              </span>
            </div>
            <i class="fas fa-coins card-icon col-green font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="m-b-0">Comisión Mes Modelo 1A</h5>
            </div>
            <div class="col-auto">
              <div class="bg-blue text-white icon-box-style">
                <i class="fas fa-hand-holding-usd"></i>
              </div>
            </div>
          </div>
          <div class="m-t-30">
            <div class="row text-center">
              <div class="col-6 border-right">
                <h6 class="m-b-0 text-success">${{(information.amountPassiveModel1A ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">Pasivo Pagado</span>
              </div>
              <div class="col-6">
                <h6 class="m-b-0 text-success">${{(information.amountResidualModel1A ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">Residual Pagado</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="m-b-0">Comisión Mes Modelo 1B</h5>
            </div>
            <div class="col-auto">
              <div class="bg-purple text-white icon-box-style">
                <i class="fas fa-hand-holding-usd"></i>
              </div>
            </div>
          </div>
          <div class="m-t-30">
            <div class="row text-center">
              <div class="col-6 border-right">
                <h6 class="m-b-0 text-success">${{(information.amountPassiveModel1B ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">Pasivo Pagado</span>
              </div>
              <div class="col-6">
                <h6 class="m-b-0 text-success">${{(information.amountResidualModel1B ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">Residual Pagado</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-lg-6 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="m-b-0">Comisión Mensual</h5>
            </div>
            <div class="col-auto">
              <div class="bg-red text-white icon-box-style">
                <i class="fas fa-hand-holding-usd"></i>
              </div>
            </div>
          </div>
          <div class="m-t-30">
            <div class="row text-center">
              <div class="col-6 border-right">
                <h6 class="m-b-0 text-success">${{(information.amountPassiveModel2 ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">Pasivo Pagado</span>
              </div>
              <div class="col-6">
                <h6 class="m-b-0 text-success">${{(information.amountResidualModel2 ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">Residual Pagado</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="m-b-0">Comisiones por Referidos</h5>
            </div>
            <div class="col-auto">
              <div class="bg-green text-white icon-box-style">
                <i class="fas fa-hand-holding-usd"></i>
              </div>
            </div>
          </div>
          <div class="m-t-30">
            <div class="row text-center">
              <div class="col-6 border-right">
                <h6 class="m-b-0 text-success">${{(information.amountPercentageModel3 ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">10% pagado</span>
              </div>
              <div class="col-6">
                <h6 class="m-b-0 text-success">${{(information.amountResidualModel3 ?? 0) | truncateDecimals:2}}</h6>
                <span class="font-14">Residual Pagado</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-6">
      <div class="info-box7 l-bg-blue order-info-box7">
        <div class="info-box7-block">
          <h5 class="m-b-20">Referidos de la red.</h5>
          <h6 class="m-b-10">Clientes directos</h6>
          <h6 class="text-end"><i class="fas fa-user float-start"></i>
            <span>
              {{ (information.amountUsersDirectModel123 ?? 0) + ' Usuarios' }}
            </span>
          </h6>
          <h6 class="m-b-10 m">Clientes red</h6>
          <h6 class="text-end"><i class="fas fa-users float-start"></i>
            <span>
              {{ (information.amountUsersNetworkModel123 ?? 0) + ' Usuarios' }}
            </span>
          </h6>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-3 col-sm-6">
      <div class="info-box7 l-bg-purple order-info-box7">
        <div class="info-box7-block">
          <h5 class="m-b-20">Modelo 4 con Acumulado</h5>
          <h6 class="m-b-10">Red izquierda</h6>
          <h6 class="text-end"><i class="fas fa-arrow-left float-start"></i>
            <span>
                    {{ (information.amountChildrenLeftModel4 ?? 0) + ' Usuarios' }}
                  </span>
          </h6>
          <h6 class="m-b-10">Red derecha</h6>
          <h6 class="text-end"><i class="fas fa-arrow-right float-start"></i>
            <span>
                    {{ (information.amountChildrenRightModel4 ?? 0) + ' Usuarios' }}
                  </span>
          </h6>
          <div class="row text-center m-t-30">
            <div class="col-6 border-right">
              <h6 class="m-b-0 text-success">${{ (information.volumeLeftModel4 ?? 0) | truncateDecimals:2}}</h6>
              <span class="font-14">Acumulado izquierda</span>
            </div>
            <div class="col-6">
              <h6 class="m-b-0 text-success">${{ (information.volumeRightModel4 ?? 0) | truncateDecimals:2}}</h6>
              <span class="font-14">Acumulado derecha</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-3 col-sm-6">
      <div class="info-box7 l-bg-red order-info-box7">
        <div class="info-box7-block">
          <h5 class="m-b-20">Modelo 5</h5>
          <h6 class="m-b-10">Clientes directos</h6>
          <h6 class="text-end"><i class="fas fa-user float-start"></i>
            <span>
                    {{ (information.amountUsersDirectModel5 ?? 0) + ' Usuarios' }}
                  </span>
          </h6>
          <h6 class="m-b-10">Clientes red</h6>
          <h6 class="text-end"><i class="fas fa-users float-start"></i>
            <span>
                    {{ (information.amountUsersNetworkModel5 ?? 0) + ' Usuarios' }}
                  </span>
          </h6>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-3 col-sm-6">
      <div class="info-box7 l-bg-green order-info-box7">
        <div class="info-box7-block">
          <h5 class="m-b-20">Modelo 6</h5>
          <h6 class="m-b-10">Clientes directos</h6>
          <h6 class="text-end"><i class="fas fa-user float-start"></i>
            <span>
                    {{ (information.amountUsersDirectModel6 ?? 0) + ' Usuarios' }}
                  </span>
          </h6>
          <h6 class="m-b-10">Clientes red</h6>
          <h6 class="text-end"><i class="fas fa-users float-start"></i>
            <span>
                    {{ (information.amountUsersNetworkModel6 ?? 0) + ' Usuarios' }}
                  </span>
          </h6>
        </div>
      </div>
    </div> -->
  </div>
</section>
