<ng-template #splitBalancesModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Dividir saldos</h4>
    <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="model_1a">Modelo 1A</label>
          <input type="number" class="form-control" [(ngModel)]="model1aAmount" (ngModelChange)="updateRemainingTotal()"
            id="model_1a" aria-describedby="Montos para modelo 1A" placeholder="Monto para modelo 1A">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="model_1b">Modelo 1B</label>
          <input type="number" class="form-control" [(ngModel)]="model1bAmount" (ngModelChange)="updateRemainingTotal()"
            id="model_1b" aria-describedby="Montos para modelo 1B" placeholder="Monto para modelo 1B">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="model_2">Modelo 2</label>
          <input type="number" class="form-control" [(ngModel)]="model2Amount" (ngModelChange)="updateRemainingTotal()"
            id="model_2" aria-describedby="Montos para modelo 2" placeholder="Monto para modelo 2">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="col-red">Total de las facturas: {{remainingTotal}}</h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="processAndReturnBalancesForModels1A1B2()">Procesar</button>
  </div>
</ng-template>
