<div id="particles-js"></div>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <form class="register-form" [formGroup]="forgotPassword" (ngSubmit)="sendPasswordRecovery()">
    <div class="container">
      <div class="row">
        <div class="auth-card">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Forgot Password</h4>
              </div>
              <div class="card-body">
                <p class="text-muted">We will send a link to reset your password</p>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus
                    formControlName="email" [ngClass]="{
                      'is-invalid': submitted && forgotPassword.get('email').errors,
                      'is-valid': forgotPassword.get('email').valid && forgotPassword.get('email').dirty
                    }" (input)="validateEmail()">
                  <div *ngIf="submitted && forgotPassword.get('email').errors" class="invalid-feedback">
                    <div *ngIf="forgotPassword.get('email').errors.required">
                      Ingrese un correo electrónico.
                    </div>
                    <div *ngIf="forgotPassword.get('email').errors.email">
                      Ingrese un correo electrónico válido.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Forgot Password
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
