<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.COMMISSIONS.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'PERIOD-CLOSING.TITLE.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'PERIOD-CLOSING.SUBTITLE.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i-feather
                              name="search"
                              style="color: #96a2b4"
                            ></i-feather>
                          </div>
                        </div>
                        <input
                          style="background-color: white"
                          type="text"
                          class="form-control"
                          id="inlineFormInputGroup"
                          (keyup)="updateFilter($event)"
                          aria-label="Search box"
                          placeholder="{{
                            'USERS-LIST-PAGE.USERS-SEARCH.TEXT' | translate
                          }}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-12">
                      <p *ngFor="let alert of alerts" class="text-center">
                        <ngb-alert
                          [type]="alert.type"
                          (closed)="close(alert)"
                          *ngIf="show"
                          >{{
                            'PERIOD-CLOSING.MSJ.TEXT' | translate
                          }}</ngb-alert
                        >
                      </p>
                    </div>
                  </div>

                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-clipboard-check"></i>
                          {{
                            'PERIOD-CLOSING.BTN-CLOSE-PERIOD.TEXT' | translate
                          }}
                        </button>
                      </li>
                      <li class="nav-item m-2">
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="clipBoardCopy()"
                        >
                          <i class="bi bi-clipboard-check"></i>
                          {{ 'PERIOD-CLOSING.BTN-COPY.TEXT' | translate }}
                        </button>
                      </li>

                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-printer"></i>
                          {{ 'PERIOD-CLOSING.BTN-PRINT.TEXT' | translate }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable
                  #table
                  class="material"
                  [rows]="rows"
                  [loadingIndicator]="loadingIndicator"
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [limit]="10"
                  [scrollbarH]="scrollBarHorizontal"
                  [reorderable]="reorderable"
                >
                  <ngx-datatable-column
                    name="{{
                      'PERIOD-CLOSING.COL-RESPONSIBLE.TEXT' | translate
                    }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.binarySponsor }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    name="{{ 'PERIOD-CLOSING.COL-DATE.TEXT' | translate }}"
                    sortable="false"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.binarySponsor }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
