<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title mb-0">
        Configuración de matrices
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      Matrices
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Lista de Matrices</h4>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <div class="table-search-area">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i-feather name="search" class="text-muted"></i-feather>
                        </div>
                      </div>
                      <input type="text" class="form-control bg-white" (keyup)="updateFilter($event)"
                        aria-label="Search box" placeholder="Búsqueda" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-1">
                <div class="header-buttons-left">
                  <div class="tbl-btn-style">
                    <button class="btn btn-icon btn-primary rounded-circle">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col">
                <ul class="nav justify-content-end">
                  <li class="nav-item mx-2">
                    <button type="button" class="btn btn-primary">
                      <i class="bi bi-clipboard-check me-1"></i>
                      Copiar
                    </button>
                  </li>
                  <li class="nav-item mx-2">
                    <button type="button" class="btn btn-primary">
                      <i class="bi bi-printer me-1"></i>
                      Imprimir
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column name="Tipo matrix">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.matrixType }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nombre" sortable="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.matrixName }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Niveles">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.levels }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nodos o hijos">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.childCount }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Limite del modelo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.threshold }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Cobro recurrente">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.feeAmount }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Retiro minimo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.minWithdraw }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Retiro máximo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.maxWithdraw }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Rango min">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.rangeMin }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Rango max">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.rangeMax }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
                          Acciones
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem id="btn-edit">
                            <i class="fas fa-edit me-2"></i>
                            Editar
                          </a>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
