<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">{{ 'MENUITEMS.HOME.TEXT' | translate }}</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"><i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="card">
          <div class="card-bg">
            <div class="p-3 d-flex justify-content-between">
              <div class="col">
                <h5 class="mb-0">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.RECYCOIN-AMOUNT' | translate }}</h5>
                <span class="fw-bold mb-0 font-15 text-success">
                  {{ ((balanceInformation.totalAcquisitions + balanceInformation.bonusAmount) ?? 0) + ' Tokens' }}
                </span>
              </div>
              <i class="fas fa-coins card-icon col-red font-30 col-auto"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="card">
          <div class="card-bg">
            <div class="p-3 d-flex justify-content-between">
              <div class="col">
                <h5 class="mb-0">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.TOKEN-BONUS' | translate }}</h5>
                <span class="fw-bold mb-0 font-15 text-success">
                  {{ (balanceInformation.bonusAmount | truncateDecimals) + ' Tokens' }}
                </span>
              </div>
              <i class="fas fa-coins card-icon col-green font-30 col-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="m-b-0">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.MONTHLY-COMMISSION' | translate }}</h5>
              </div>
              <div class="col-auto">
                <div class="bg-red text-white icon-box-style">
                  <i class="fas fa-hand-holding-usd"></i>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <div class="row text-center">
                <div class="col-6 border-right">
                  <h6 class="m-b-0 text-success">${{ (information.amountPassiveModel2 ?? 0) | truncateDecimals:2 }}</h6>
                  <span class="font-14">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.COMMISSION-PAID' | translate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="m-b-0">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.REFERRAL-COMMISSION' | translate }}</h5>
              </div>
              <div class="col-auto">
                <div class="bg-green text-white icon-box-style">
                  <i class="fas fa-hand-holding-usd"></i>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <div class="row text-center">
                <div class="col-6 border-right">
                  <h6 class="m-b-0 text-success">${{ (information.amountPercentageModel3 ?? 0) | truncateDecimals:2 }}
                  </h6>
                  <span class="font-14">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.COMMISSION-PAID' | translate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 d-flex">
        <div class="card w-100 position-relative overflow-hidden">
          <div class="card-header border-0">
            <h4 class="badge-outline col-green d-flex align-items-center">
              <i class="fas fa-chart-pie me-2"></i>
              {{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.TITLE' | translate }}
            </h4>
          </div>

          <div class="card-body">
            <div class="info-card mb-4 p-4 rounded-3 shadow-sm transform-hover">
              <div class="d-flex align-items-center">
                <div class="info-icon rounded-circle bg-gradient-primary p-3 me-4">
                  <i class="fas fa-file-contract text-white fa-lg"></i>
                </div>
                <div class="flex-grow-1">
                  <h6
                    class="text-primary mb-2">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.TOKEN-CONTRACT' | translate }}</h6>
                  <p class="text-break mb-0 font-monospace small">
                    <i class="fas fa-link me-2 text-muted"></i>
                    {{ recycoinInfo.contractAddress }}
                  </p>
                </div>
                <div class="ms-3">
                  <button class="btn btn-light btn-sm rounded-circle"
                          (click)="copyToClipboard(recycoinInfo.contractAddress, 'Token Contract')">
                    <i class="fas fa-copy"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="info-card mb-4 p-4 rounded-3 shadow-sm transform-hover">
              <div class="d-flex align-items-center">
                <div class="info-icon rounded-circle bg-gradient-success p-3 me-4">
                  <i class="fas fa-chart-line text-white fa-lg"></i>
                </div>
                <div>
                  <h6 class="text-success mb-2">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.MARKET-CAP' | translate }}</h6>
                  <div class="d-flex align-items-center">
             <span class="badge bg-success-light text-success rounded-pill px-3 py-2">
               <i class="fas fa-calendar-alt me-2"></i>
               01-09-2025
             </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="info-card p-4 rounded-3 shadow-sm transform-hover">
              <div class="d-flex align-items-center">
                <div class="info-icon rounded-circle bg-gradient-info p-3 me-4">
                  <i class="fas fa-exchange-alt text-white fa-lg"></i>
                </div>
                <div class="flex-grow-1">
                  <h6 class="text-info mb-2">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.CHANGE-24H' | translate }}</h6>
                  <p class="text-break mb-0 d-flex align-items-center">
                    <i class="fas fa-wallet me-2 text-muted"></i>
                    {{ recycoinInfo.bnbAddress }}
                  </p>
                </div>
                <div class="ms-3">
                  <button class="btn btn-light btn-sm rounded-circle"
                          (click)="copyToClipboard(recycoinInfo.bnbAddress, 'BNB Address')">
                    <i class="fas fa-copy"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="balanceInformation && isBalanceInformationValid(balanceInformation)"
           [ngClass]="{'col-xl-6 col-lg-12 col-md-12 col-sm-12': canSeePaymentModels, 'col-xl-6 col-lg-12 col-md-12 col-sm-12': !canSeePaymentModels}"
           class="col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="badge-outline col-green">{{ 'HOME-PAGE-CLIENT.INFORMATION-2.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <div id="chart1">
              <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                         [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                         [dataLabels]="pieChartOptions.dataLabels" [legend]="pieChartOptions.legend"
                         [colors]="pieChartOptions.colors" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table m-t-5">
              <table class="table align-items-center table-row-border">
                <tbody>
                <tr>
                  <td class="col-blue">
                    <i class="fa fa-circle col-blue msr-2 "></i>{{
                      'HOME-PAGE-CLIENT.AVAILABLE-BALANCE.TEXT' |
                        translate
                    }}
                  </td>
                  <td class="col-blue">USD {{ balanceInformation.availableBalance ?? 0 | truncateDecimals:2 }}</td>
                </tr>
                <tr>
                  <td class="col-emerald">
                    <i class="fa fa-circle col-emerald msr-2"></i>{{ 'HOME-PAGE-CLIENT.TOTAL-PAID.TEXT' | translate }}
                  </td>
                  <td class="col-emerald">USD {{ balanceInformation.totalCommissionsPaid ?? 0 | truncateDecimals:2 }}
                  </td>
                </tr>
                <tr>
                  <td class="col-green">
                    <i class="fa fa-circle col-green msr-2 col-green"></i>{{
                      'HOME-PAGE-CLIENT.TOTAL-ACQUISITIONS.TEXT' | translate
                    }}
                  </td>
                  <td class="col-green">USD {{ balanceInformation.totalAcquisitions ?? 0 }}</td>
                </tr>
                <!-- <tr>
                  <td class="col-orange">
                    <i class="fa fa-circle col-orange msr-2"></i>{{ 'HOME-PAGE-CLIENT.MODEL-REQUEST.TEXT' |
                    translate }}
                  </td>
                  <td class="col-orange">USD {{balanceInformation.reverseBalance ?? 0}}</td>
                </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'HOME-PAGE-CLIENT.TITTLE-FIRST-CHART.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div id="chartdiv"></div>
            </div>
            <div class="row">
              <div id="new-orders" class="media-list position-relative"
                   style="position: relative; max-height: 170px !important" [perfectScrollbar]>
                <div class="table">
                  <table id="new-orders-table" class="table table-hover table-xl table-row-border mb-0">
                    <tbody *ngFor="let item of maps">
                    <tr>
                      <td class="text-truncate">{{ item.Title }}</td>
                      <td class="text-truncate">{{ item.Value }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 d-none d-sm-none d-md-block d-xl-block d-xxl-block">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'HOME-PAGE-CLIENT.TITTLE-SECOND-CHART.TEXT' | translate }}</h4>
          </div>
          <div class="card-body m-2">
            <div echarts [options]="area_line_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'HOME-PAGE-CLIENT.TITTLE-BANNERS.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <div class="py-4">
              <p class="clearfix">
                <span role="button" class="float-start" (click)="openNewWindow(registerUrl)">
                  {{ 'HOME-PAGE-CLIENT.REGISTER.TEXT' | translate }}
                </span>
                <button class="btn btn-primary float-end" (click)="shareModalComponent.openShareModal(registerUrl)">
                  <i class="bi bi-share-fill ms-2"></i>{{ 'HOME-PAGE-CLIENT.SHARE-LINK.TEXT' | translate }}
                </button>
              </p>
              <p class="clearfix">
                <span role="button" class="float-start" (click)="openNewWindow('https://recycoin.net/')">
                  {{ 'HOME-PAGE-CLIENT.PUBLIC-STORE.TEXT' | translate }}
                </span>
                <button class="btn btn-primary float-end"
                        (click)="shareModalComponent.openShareModal('https://recycoin.net/')">
                  <i class="bi bi-share-fill ms-2"></i>{{ 'HOME-PAGE-CLIENT.SHARE-LINK.TEXT' | translate }}
                </button>
              </p>
              <p class="clearfix">
                <span class="float-start">{{ 'HOME-PAGE-CLIENT.WEBSITE.TEXT' | translate }}</span>
                <span class="float-end text-muted">
                  <a rel="noopener" href="https://recycoin.net" target="_blank">https://recycoin.net</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-share-modal #shareModalComponent></app-share-modal>
