<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">{{ 'MENUITEMS.HOME.TEXT' | translate }}</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"><i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <!-- <ng-container *ngIf="canSeePaymentModels && balanceInformationModel1B && isBalanceInformationValid(balanceInformationModel1B)">
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="badge-outline col-green">{{ 'HOME-PAGE-CLIENT.INFORMATION-R.TEXT' | translate }}</h4>
            </div>
            <div class="card-body">
              <div id="chart1">
                <apx-chart [series]="pieChartOptionsModel1B.series" [chart]="pieChartOptionsModel1B.chart"
                  [labels]="pieChartOptionsModel1B.labels" [responsive]="pieChartOptionsModel1B.responsive"
                  [dataLabels]="pieChartOptionsModel1B.dataLabels" [legend]="pieChartOptionsModel1B.legend"
                  [colors]="pieChartOptionsModel1B.colors" class="apex-pie-center">
                </apx-chart>
              </div>
              <div class="table m-t-5">
                <table class="table align-items-center table-row-border">
                  <tbody>
                    <tr>
                      <td class="col-red">
                        <i class="fa fa-circle col-red msr-2"></i>{{ 'HOME-PAGE-CLIENT.SERVICE-BALANCE.TEXT' | translate }}
                      </td>
                      <td class="col-red">USD {{balanceInformationModel1B.serviceBalance | truncateDecimals:2}}</td>
                    </tr>
                    <tr>
                      <td class="col-blue">
                        <i class="fa fa-circle col-blue msr-2 "></i>{{ 'HOME-PAGE-CLIENT.AVAILABLE-BALANCE.TEXT' | translate }}
                      </td>
                      <td class="col-blue">USD {{balanceInformationModel1B.availableBalance | truncateDecimals:2}}</td>
                    </tr>
                    <tr>
                      <td class="col-emerald">
                        <i class="fa fa-circle col-emerald msr-2"></i>{{ 'HOME-PAGE-CLIENT.TOTAL-PAID.TEXT' | translate }}
                      </td>
                      <td class="col-emerald">USD {{balanceInformationModel1B.totalCommissionsPaid | truncateDecimals:2}}</td>
                    </tr>
                    <tr>
                      <td class="col-green">
                        <i class="fa fa-circle col-green msr-2 col-green"></i>{{ 'HOME-PAGE-CLIENT.TOTAL-ACQUISITIONS.TEXT' | translate }}
                      </td>
                      <td class="col-green">USD {{balanceInformationModel1B.totalAcquisitions | truncateDecimals:2}}</td>
                    </tr>
                    <tr>
                      <td class="col-purple">
                        <i class="fa fa-circle col-purple msr-2 col-purple"></i>{{ 'HOME-PAGE-CLIENT.MODEL-REQUEST.TEXT' | translate }}
                      </td>
                      <td class="col-purple">USD {{balanceInformationModel1B.reverseBalance | truncateDecimals:2}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container> -->

      <div *ngIf="balanceInformation && isBalanceInformationValid(balanceInformation)"
        class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="badge-outline col-green">{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.TITLE' | translate }}</h4>
          </div>
          <div class="card-body">
            <div id="chart1">
              <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                [dataLabels]="pieChartOptions.dataLabels" [legend]="pieChartOptions.legend"
                [colors]="pieChartOptions.colors" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table m-t-5">
              <table class="table align-items-center table-row-border">
                <tbody>
                  <tr>
                    <td class="col-blue">
                      <i class="fa fa-circle col-blue msr-2"></i>{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.TOKEN-AMOUNT' |
                      translate }}
                    </td>
                    <td class="col-blue">0 REC</td>
                  </tr>
                  <tr>
                    <td class="col-emerald">
                      <i class="fa fa-circle col-emerald msr-2"></i>{{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.MARKET-CAP'
                      |
                      translate }}
                    </td>
                    <td class="col-emerald">01-09-2025</td>
                  </tr>
                  <tr>
                    <td [ngClass]="{'col-red': recycoinInfo.change24h < 0, 'col-green': recycoinInfo.change24h >= 0}">
                      <i class="fa fa-circle msr-2"
                        [ngClass]="{'col-red': recycoinInfo.change24h < 0, 'col-green': recycoinInfo.change24h >= 0}"></i>
                      {{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.CHANGE-24H' | translate }}
                    </td>
                    <td [ngClass]="{'col-red': recycoinInfo.change24h < 0, 'col-green': recycoinInfo.change24h >= 0}">
                      0
                    </td>
                  </tr>
                  <tr>
                    <td class="col-orange">
                      <i class="fa fa-circle col-orange msr-2"></i>
                      {{ 'HOME-PAGE-CLIENT.RECYCOIN-DASHBOARD.TOKEN-CONTRACT' | translate }}
                    </td>
                    <td class="col-orange">
                      <span class="text-break">{{ recycoinInfo.contractAddress }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="balanceInformation && isBalanceInformationValid(balanceInformation)"
        [ngClass]="{'col-xl-6 col-lg-12 col-md-12 col-sm-12': canSeePaymentModels, 'col-xl-6 col-lg-12 col-md-12 col-sm-12': !canSeePaymentModels}"
        class="col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="badge-outline col-green">{{ 'HOME-PAGE-CLIENT.INFORMATION-2.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <div id="chart1">
              <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                [dataLabels]="pieChartOptions.dataLabels" [legend]="pieChartOptions.legend"
                [colors]="pieChartOptions.colors" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table m-t-5">
              <table class="table align-items-center table-row-border">
                <tbody>
                  <tr>
                    <td class="col-blue">
                      <i class="fa fa-circle col-blue msr-2 "></i>{{ 'HOME-PAGE-CLIENT.AVAILABLE-BALANCE.TEXT' |
                      translate }}
                    </td>
                    <td class="col-blue">USD {{ balanceInformation.availableBalance ?? 0 | truncateDecimals:2 }}</td>
                  </tr>
                  <tr>
                    <td class="col-emerald">
                      <i class="fa fa-circle col-emerald msr-2"></i>{{ 'HOME-PAGE-CLIENT.TOTAL-PAID.TEXT' | translate }}
                    </td>
                    <td class="col-emerald">USD {{balanceInformation.totalCommissionsPaid ?? 0 | truncateDecimals:2}}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-green">
                      <i class="fa fa-circle col-green msr-2 col-green"></i>{{
                      'HOME-PAGE-CLIENT.TOTAL-ACQUISITIONS.TEXT' | translate }}
                    </td>
                    <td class="col-green">USD {{balanceInformation.totalAcquisitions ?? 0}}</td>
                  </tr>
                  <tr>
                    <td class="col-orange">
                      <i class="fa fa-circle col-orange msr-2"></i>{{ 'HOME-PAGE-CLIENT.MODEL-REQUEST.TEXT' |
                      translate }}
                    </td>
                    <td class="col-orange">USD {{balanceInformation.reverseBalance ?? 0}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'HOME-PAGE-CLIENT.TITTLE-FIRST-CHART.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div id="chartdiv"></div>
            </div>
            <div class="row">
              <div id="new-orders" class="media-list position-relative"
                style="position: relative; max-height: 170px !important" [perfectScrollbar]>
                <div class="table">
                  <table id="new-orders-table" class="table table-hover table-xl table-row-border mb-0">
                    <tbody *ngFor="let item of maps">
                      <tr>
                        <td class="text-truncate">{{item.Title}}</td>
                        <td class="text-truncate">{{item.Value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 d-none d-sm-none d-md-block d-xl-block d-xxl-block">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'HOME-PAGE-CLIENT.TITTLE-SECOND-CHART.TEXT' | translate }}</h4>
          </div>
          <div class="card-body m-2">
            <div echarts [options]="area_line_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'HOME-PAGE-CLIENT.TITTLE-BANNERS.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <div class="py-4">
              <p class="clearfix">
                <span role="button" class="float-start" (click)="openNewWindow(registerUrl)">
                  {{ 'HOME-PAGE-CLIENT.REGISTER.TEXT' | translate }}
                </span>
                <button class="btn btn-primary float-end" (click)="shareModalComponent.openShareModal(registerUrl)">
                  <i class="bi bi-share-fill ms-2"></i>{{ 'HOME-PAGE-CLIENT.SHARE-LINK.TEXT' | translate }}
                </button>
              </p>
              <p class="clearfix">
                <span role="button" class="float-start" (click)="openNewWindow('https://recycoinfx.net/')">
                  {{ 'HOME-PAGE-CLIENT.PUBLIC-STORE.TEXT' | translate }}
                </span>
                <button class="btn btn-primary float-end"
                  (click)="shareModalComponent.openShareModal('https://recycoinfx.net/')">
                  <i class="bi bi-share-fill ms-2"></i>{{ 'HOME-PAGE-CLIENT.SHARE-LINK.TEXT' | translate }}
                </button>
              </p>
              <p class="clearfix">
                <span class="float-start">{{ 'HOME-PAGE-CLIENT.WEBSITE.TEXT' | translate }}</span>
                <span class="float-end text-muted">
                  <a rel="noopener" href="https://recycoinfx.com" target="_blank">https://recycoinfx.com</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-share-modal #shareModalComponent></app-share-modal>
