<!-- Modal Create -->
<ng-template #secretQuestionModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Cambiar pregunta y respuesta secreta
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <form class="register-form" [formGroup]="secretQuestionForm" [autocomplete]="off"
    (ngSubmit)="onChangeSecretQuestionUpload()">
    <div class="modal-body">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="currentPassword">
            {{
            'ADMIN-EDIT-PASSWORD-MODAL.LBL-CURRENT-PASSWORD.TEXT' | translate
            }}
            <span class="text-danger">*</span></label>
          <input type="password" class="form-control" id="currentPassword" autocomplete="new-password"
            formControlName="currentPassword" required="required" [ngClass]="{
              'is-invalid':
                submitted &&
                secret_question_form.currentPassword.errors
            }" />
          <div *ngIf="
              submitted && secret_question_form.currentPassword.errors
            " class="invalid-feedback">
            <div *ngIf="
                secret_question_form.currentPassword.errors.required
              ">
              {{
              'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-CURRENT-PASSWORD.TEXT'
              | translate
              }}
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="secretQuestion">Nueva pregunta secreta<span class="text-danger">*</span></label>
          <select class="form-select form-control" name="secretQuestion" id="secretQuestion"
            formControlName="secretQuestion" required="required"
            [ngClass]="{ 'is-invalid': submitted && secret_question_form.secretQuestion.errors }">
            <option value="" disabled selected>Seleccione una opcion</option>
            <option value="Lugar de nacimiento de la madre">
              Lugar de nacimiento de la madre
            </option>
            <option value="Primera mascota">
              Primera mascota
            </option>
            <option value="Nombre abuela/o">
              Nombre abuela/o
            </option>
            <option value="Canción preferida">
              Canción preferida
            </option>
          </select>
          <div *ngIf="submitted && secret_question_form.secretQuestion.errors" class="invalid-feedback">
            <div *ngIf="secret_question_form.secretQuestion.errors.required">
              The secret question place is required
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="secretAnswer">Nueva respuesta secreta<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="secretAnswer"
            id="secretAnswer" required="required" [ngClass]="{
              'is-invalid':
                submitted &&
                secret_question_form.secretAnswer.errors
            }" />
          <div *ngIf="
              submitted &&
              secret_question_form.secretAnswer.errors
            " class="invalid-feedback">
            <div *ngIf="
                secret_question_form.secretAnswer.errors
                  .required
              ">
              El pregunta secreta es requerida
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">
        {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.BTN-SAVE.TEXT' | translate }}
      </button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
        {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.BTN-CANCEL.TEXT' | translate }}
      </button>
    </div>
  </form>
</ng-template>