<ng-template #coinpayPaymentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ 'PAYMENT_MODAL.TITLE' | translate }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="selectedNetwork">
      <div *ngIf="isLoading" class="loading-container">
        <div class="spinner"></div>
        <p>{{ 'PAYMENT_MODAL.LOADING' | translate }}</p>
      </div>
      <div *ngIf="!isLoading">
        <div class="payment-info">
          <h5 class="payment-title">{{ 'PAYMENT_MODAL.PAYMENT_DETAILS' | translate }}</h5>
          <img
            class="payment-detail network-icon"
            [ngSrc]="getNetworkIcon('BEP20')"
            [alt]="'BEP20-network'"
            width="50"
            height="50"
          />
          <p class="payment-detail"><strong>BEP20</strong> USDT</p>
          <p class="payment-detail"><strong>{{ 'PAYMENT_MODAL.TOTAL_TO_PAY' | translate }}:</strong> ${{ total }}</p>
          <p class="payment-detail"><strong>{{ 'PAYMENT_MODAL.WALLET_ADDRESS' | translate }}:</strong> {{
              walletAddress
            }}</p>
        </div>
        <div class="qr-code-container">
          <img
            *ngIf="qrCodeDataUrl"
            [ngSrc]="qrCodeDataUrl"
            alt="{{ 'PAYMENT_MODAL.QR_CODE' | translate }}"
            class="qr-code-image"
            width="200"
            height="200"
            priority
          />
          <p *ngIf="!qrCodeDataUrl">{{ 'PAYMENT_MODAL.QR_CODE_LOADING' | translate }}</p>
        </div>
        <div class="payment-instructions">
          <p>{{ 'PAYMENT_MODAL.INSTRUCTIONS' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">{{
        'PAYMENT_MODAL.CLOSE' |
          translate
      }}
    </button>
  </div>
</ng-template>
