<ng-template #profileImgModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Cambiar imagen del perfil
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <div *ngIf="(user?.image_profile_url || userAdmin?.image_profile_url) && (user?.image_profile_url !== '' || userAdmin?.image_profile_url !== '')" class="position-relative d-inline-block">
          <div class="d-flex flex-column align-items-center">
            <button class="btn btn-primary mb-2" (click)="removeImage()">Eliminar imagen</button>
            <img [src]="user?.image_profile_url || userAdmin?.image_profile_url" alt="Imagen de perfil" class="img-fluid" />
          </div>
        </div>
        <ngx-dropzone *ngIf="(!user?.image_profile_url || user?.image_profile_url === '') && (!userAdmin?.image_profile_url || userAdmin?.image_profile_url === '')" (change)="onFileSelected($event)"
          [accept]="'image/*'" [multiple]="false">
          <ngx-dropzone-label>¡Arrastra y suelta aquí o haz clic para seleccionar una imagen!</ngx-dropzone-label>
        </ngx-dropzone>

      </div>
    </div>
  </div>
</ng-template>
