<div id="particles-js"></div>
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="auth-card col-12 col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <div class="brand-wrapper mb-4">
              <img [src]="logoUrl" alt="logo" class="logo img-fluid" style="margin-left: 40px;" />
            </div>
            <h4 class="mb-4">Entrar y continuar</h4>
            <hr>
            <button class="btn btn-primary mb-2" (click)="backToTop()"><i class="bi bi-house-check-fill"></i>Volver al
              inicio</button>
            <button class="btn btn-primary mb-2" (click)="goToRegister()"><i
                class="bi bi-pencil-square"></i>Regístrate</button>
            <button class="btn btn-primary mb-2" (click)="goToTheStore()"><i class="bi bi-cart3"></i>Ir a la
              tienda</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
