<div class="recycoin-preview-wrapper">
  <div id="particles-js"></div>
  <div class="recycoin-preview">
    <h2 class="title neon-text">Vista Previa de RecyCoin</h2>
    <div class="package-grid">
      <div class="package-card">
        <div class="card-content">
          <div class="card-front">
            <div class="image-container">
              <img src="assets/images/logo-recy.png" alt="Logo de RecyCoin" class="package-image">
              <div class="glow-effect"></div>
            </div>
            <h3 class="package-name neon-text">RecyCoin</h3>
            <p class="package-price neon-text">Cripto Ecológica</p>
          </div>
          <div class="card-back">
            <p class="package-description">Únete a la revolución verde con RecyCoin. Criptomoneda sostenible, eficiente y ecológica.</p>
            <button class="buy-button neon-text" (click)="backToTop()">Volver al inicio</button>
          </div>
        </div>
      </div>
      <div class="package-card">
        <div class="card-content">
          <div class="card-front">
            <div class="image-container">
              <img src="assets/images/logo-recy.png" alt="Icono de Registro" class="package-image">
              <div class="glow-effect"></div>
            </div>
            <h3 class="package-name neon-text">Regístrate</h3>
            <p class="package-price neon-text">Únete a nosotros</p>
          </div>
          <div class="card-back">
            <p class="package-description">Crea tu cuenta y sé parte de la comunidad RecyCoin. ¡Comienza tu viaje eco-friendly hoy!</p>
            <button class="buy-button neon-text" (click)="goToRegister()">Regístrate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
