
:host {
  display: block;
  text-align: center;
  padding: 64px;
}

// ugly css for quick test, use your own!
.zoom-button {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

// style for my custom nodes for this example
.chart-node {
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  transition: width 250ms, height 250ms;
  width: 9em;
  min-height: 6em;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 8px;

  img {
      user-select: none;
      width: 3em;
      height: 3em;
      transition: width 250ms, height 250ms;
      border-radius: 50%;
  }

  .name {
      user-select: none;
      font-weight: bold;
      text-align: center;
      width: 5.5em;
      margin: 0.25em;
      transition: width 250ms, height 250ms;
      color: #FEF;
  }

  .description {
      user-select: none;
      font-size: 90%;
      overflow: auto;
      color: #CDC;
  }

  .tree-fold-btn {
      position: absolute;
      width: 16px;
      height: 16px;
      line-height: 16px;
      top: 0;
      right: 0;
      background-color: wheat;
      border-radius: 50%;
      margin: 0;
      padding: 0;
      text-align: center;
      font-weight: bold;
  }
}

// just show the image when the chart is zoomed out
.ng13-org-chart-zoom-out { // predefined in the library, applyed to show overview
  .chart-node:not(:hover) {
      min-height: 0em;
      padding: 0;
      img {
          width: 32px;
          height: 32px;
      }
      .tree-fold-btn {
          visibility: hidden;
      }
      .name {
          visibility: hidden;
      }
      .description {
          visibility: hidden;
      }
  }
}
