.image-container {
  width: 100px;
  padding-right: 8px;
}

.image-button {
  cursor: pointer;
  width: 100%;
}

.rounded-border {
  border-radius: 5px;
}

.custom-img-size {
  width: 120px;
}

.custom-div {
  position: relative;
  max-height: 600px !important;
}

.btn-coinpay {
  width: 155px !important;
  height: 40px !important;
  border-radius: 5px;
}
