<!-- Modal Create -->
<ng-template #permissionsCreateModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            {{ 'ROL-LIST-PERMISSIONS-MODAL.TITLE.TEXT' | translate }}
            {{ title }}
          </div>
        </div>
      </div>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="table-search-area">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i-feather name="search" style="color: #0b4423"></i-feather>
              </div>
            </div>
            <input
              style="background-color: white"
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              (keyup)="updateFilter($event)"
              aria-label="Search box"
              placeholder="{{
                'ROL-LIST-PERMISSIONS-MODAL.SEARCH.TEXT' | translate
              }}"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <ngx-datatable
          id="table"
          #table
          class="material"
          class="material"
          [rows]="rows"
          [loadingIndicator]="loadingIndicator"
          columnMode="force"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [limit]="13"
          [scrollbarH]="scrollBarHorizontal"
          [reorderable]="reorderable"
          [selected]="selected"
          [selectionType]="SelectionType.checkbox"
          (select)="onSelect($event)"
        >
          <ngx-datatable-column
            name="{{ 'ROL-LIST-PERMISSIONS-MODAL.COL-MENU.TEXT' | translate }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.menu_name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="{{
              'ROL-LIST-PERMISSIONS-MODAL.COL-SUBMENU.TEXT' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.page_name }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="{{ 'All' | translate }}">
            <ng-template
              let-row="row"
              ngx-datatable-cell-template
              let-value="value"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="checkboxNoLabel"
                name="checkboxAll"
                (change)="onSelectAll(row)"
              />
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column
            name="{{ 'ROL-LIST-PERMISSIONS-MODAL.COL-READ.TEXT' | translate }}"
          >
            <ng-template
              let-row="row"
              ngx-datatable-cell-template
              let-value="value"
              let-isSelected="isSelected"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="can_read"
                name="can_read"
                (change)="updateOrcreatePrivilege(row)"
                [(ngModel)]="row.can_read"
                [checked]="isSelected"
              />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="{{ 'ROL-LIST-PERMISSIONS-MODAL.COL-EDIT.TEXT' | translate }}"
          >
            <ng-template
              let-row="row"
              ngx-datatable-cell-template
              let-value="value"
              let-isSelected="isSelected"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="can_edit"
                name="can_edit"
                [(ngModel)]="row.can_edit"
                [checked]="isSelected"
                (change)="updateOrcreatePrivilege(row)"
              />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="{{
              'ROL-LIST-PERMISSIONS-MODAL.COL-CREATE.TEXT' | translate
            }}"
          >
            <ng-template
              let-row="row"
              ngx-datatable-cell-template
              let-value="value"
              let-isSelected="isSelected"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="can_create"
                name="can_create"
                [(ngModel)]="row.can_create"
                [checked]="isSelected"
                (change)="updateOrcreatePrivilege(row)"
              />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="{{
              'ROL-LIST-PERMISSIONS-MODAL.COL-DELETE.TEXT' | translate
            }}"
          >
            <ng-template
              let-row="row"
              ngx-datatable-cell-template
              let-value="value"
              let-isSelected="isSelected"
            >
              <input
                class="form-check-input"
                type="checkbox"
                id="can_delete"
                name="can_delete"
                [(ngModel)]="row.can_delete"
                [checked]="isSelected"
                (change)="updateOrcreatePrivilege(row)"
              />
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ 'ROL-LIST-PERMISSIONS-MODAL.BTN-CANCEL.TEXT' | translate }}
    </button>
  </div>
</ng-template>
