<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Modulo configuración</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Configuración General</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Configuración General</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="padding-20">
                  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>Configuración Principal</a>
                      <ng-template ngbNavContent>
                        <form [formGroup]="generalConfigurationForm">
                          <div class="tab-pane">
                            <div class="card-body">
                              <div class="row mb-3">
                                <div class="col-md-8">
                                  <div class="form-group row">
                                    <label for="paymentModelCutoffDate" class="col-sm-4 col-form-label">Fecha para
                                      ocultar modelos:</label>
                                    <div class="col-sm-8">
                                      <input id="paymentModelCutoffDate" type="date"
                                        class="form-control form-control-sm" formControlName="paymentModelCutoffDate">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col-md-8">
                                  <div class="form-group row">
                                    <label for="isUnderMaintenance" class="col-sm-4 col-form-label">Modo
                                      mantenimiento:</label>
                                    <div class="col-sm-8">
                                      <div class="form-check">
                                        <input id="isUnderMaintenance" type="checkbox" class="form-check-input"
                                          formControlName="isUnderMaintenance">
                                        <label class="form-check-label" for="isUnderMaintenance">
                                          Activar modo mantenimiento
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-2 mx-auto">
                                  <button type="button" class="btn btn-primary btn-sm w-100"
                                    (click)="saveGeneralConfiguration()" [disabled]="generalConfigurationForm.invalid">
                                    Guardar configuración
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                      <a ngbNavLink>Configuración de Sistema</a>
                      <ng-template ngbNavContent>
                        <form [formGroup]="additionalParameters">
                          <div class="card-body">

                          </div>
                        </form>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                      <a ngbNavLink>Datos de Facturación</a>
                      <ng-template ngbNavContent>
                        <form [formGroup]="additionalParameters">
                          <div class="card-body">

                          </div>
                        </form>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                      <a ngbNavLink>Datos Administración</a>
                      <ng-template ngbNavContent>
                        <form [formGroup]="additionalParameters">
                          <div class="card-body">

                          </div>
                        </form>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                      <a ngbNavLink>Página Perfil Afiliado</a>
                      <ng-template ngbNavContent>
                        <form [formGroup]="additionalParameters">
                          <div class="card-body">

                          </div>
                        </form>
                      </ng-template>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
