<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.AFFILIATES.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'AFFILIATES-LIST-PAGE.TITLE.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i-feather name="search" style="color: #96a2b4"></i-feather>
                            </div>
                          </div>
                          <input style="background-color: white" type="text" class="form-control"
                            id="inlineFormInputGroup" (keyup)="updateFilter($event)" aria-label="Search box"
                            placeholder="{{
                              'USERS-LIST-PAGE.USERS-SEARCH.TEXT' | translate
                            }}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary" (click)="clipBoardCopy()">
                          <i class="bi bi-clipboard-check"></i>
                          {{ 'INDUCEMENTS-PAGE.BTN-COPY.TEXT' | translate }}
                        </button>
                      </li>

                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary" (click)="onPrint()">
                          <i class="bi bi-printer"></i>
                          {{ 'INDUCEMENTS-PAGE.BTN-PRINT.TEXT' | translate }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-USER.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.user_name }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-STATUS.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.status == 'Active'" class="badge-outline col-green">
                        {{ row.status }}
                      </div>
                      <div *ngIf="row.status == 'Inactiva'" class="badge-outline col-red">
                        {{ row.status }}
                      </div>
                      <div *ngIf="row.status == 'Pending'" class="badge-outline col-indigo">
                        {{ row.status }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-AFFILIATE-MODE.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.affiliate_mode }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-CALIFICATION.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.calification }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-EMAIL.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.email }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-DATE.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.created_at }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-FATHER.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.father }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-SPONSOR.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.sponsor }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-BINARY-SPONSOR.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.binary_sponsor }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="{{
                      'AFFILIATES-LIST-PAGE.COL-DETAILS.TEXT' | translate
                    }}" sortable="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
                          {{
                          'AFFILIATES-LIST-PAGE.BTN-ACTIONS.TEXT' | translate
                          }}
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem id="btn-detail" (click)="detailModal(userDetailModal)">
                            <i class="bi bi-file-earmark-plus-fill"></i>
                            <span style="margin-left: 10px" (click)="
                                modalChildUpdate.updateOpenModal(
                                  modalChildUpdate['rolUpdateModal'],
                                  row
                                )
                              ">{{
                              'AFFILIATES-LIST-PAGE.MORE-DETAILS.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-edit" (click)="
                              modalChildEdit.editOpenModal(
                                modalChildEdit['affiliateEditModal'],
                                row
                              )
                            ">
                            <i class="fas fa-edit"></i>
                            <span style="margin-left: 10px">{{
                              'AFFILIATES-LIST-PAGE.EDIT.TEXT' | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="onRouteUnilevelTree(row.id)">
                            <i class="bi bi-diagram-3-fill"></i>
                            <span style="margin-left: 10px">
                              {{
                              'AFFILIATES-LIST-PAGE.UNILEVEL-FAMILY-TREE.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="onRouteForceGenealogicalTree()">
                            <i class="bi bi-diagram-3-fill"></i>
                            <span style="margin-left: 10px">{{
                              'AFFILIATES-LIST-PAGE.FORCED-GENEALOGICAL-TREE.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete">
                            <i class="bi bi-diagram-3-fill"></i>
                            <span style="margin-left: 10px" (click)="onRouteBinaryGenealogicalTree(row.id)">{{
                              'AFFILIATES-LIST-PAGE.BINARY-GENEALOGICAL-TREE.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="deleteSingleRow(row.id)">
                            <i class="bi bi-wallet-fill"></i>
                            <span style="margin-left: 10px">{{
                              'AFFILIATES-LIST-PAGE.WALLET-BALANCE.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete">
                            <i class="bi bi-cart-check-fill"></i>
                            <span style="margin-left: 10px"
                              (click)="modalChildCreatePurchase.openMakePurchaseModal(modalChildCreatePurchase['makePurchaseModal'],row)">{{
                              'AFFILIATES-LIST-PAGE.MAKE-PURCHASE.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-create-balance" (click)="confirmationCreateBalance(row)">
                            <i class="bi bi-currency-dollar"></i>
                            <span style="margin-left: 10px">Acreditar Saldo</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="deleteSingleRow(row.id)">
                            <i class="bi bi-arrow-repeat"></i>
                            <span style="margin-left: 10px">{{
                              'AFFILIATES-LIST-PAGE.CHANGE-SPONSOR.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete">
                            <i class="bi bi-eye-fill"></i>
                            <span style="margin-left: 10px" (click)="deleteSingleRow(row.id)">{{
                              'AFFILIATES-LIST-PAGE.QUALIFICATION-AUDIT.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="deleteSingleRow(row.id)">
                            <i class="bi bi-database-fill-exclamation"></i>
                            <span style="margin-left: 10px">{{
                              'AFFILIATES-LIST-PAGE.NETWORK-PURCHASE-REGISTRY.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="deleteSingleRow(row.id)">
                            <i class="bi bi-currency-exchange"></i>
                            <span style="margin-left: 10px">{{
                              'AFFILIATES-LIST-PAGE.TOPE-MAX-COINPAYMENTS.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="deleteSingleRow(row.id)">
                            <i class="fas fa-trash-alt"></i>
                            <span style="margin-left: 10px">{{
                              'AFFILIATES-LIST-PAGE.REMOVE-AFFILIATE.TEXT'
                              | translate
                              }}</span>
                          </a>
                          <a ngbDropdownItem id="btn-delete" (click)="openBalanceInformationModal(row)">
                            <i class="fa fa-money"></i>
                            <span class="ms-1">
                              Información de balances
                            </span>
                          </a>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>

                <app-affiliates-list-edit-modal #modalChildEdit
                  (loadAffiliateList)="loadAffiliateList()"></app-affiliates-list-edit-modal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-make-purchase-modal #modalChildCreatePurchase></app-make-purchase-modal>
<app-balance-information-modal></app-balance-information-modal>
