<ng-template #affiliateEditModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">Editar Usuario</div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <form class="register-form" [formGroup]="editAffiliateForm" (ngSubmit)="onEditRowSave()">
    <div class="modal-body">
      <div class="tab-pane">
        <div class="card-body">
          <div class="row mt-2">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                <h6>Datos Principales</h6>
              </div>
              <hr />
              <div class="form-group">
                <label for="user_name">
                  Usuario
                </label>
                <br />
                <input id="user_name" class="form-control" placeholder="Usuario" type="text"
                  formControlName="user_name" />
              </div>
              <div class="form-group">
                <label for="email">
                  Correo
                </label>
                <br />
                <input id="email" class="form-control" placeholder="Correo" name="email" type="text"
                  formControlName="email" />
              </div>
              <div class="form-group">
                <label for="identification">
                  Nro de Identificacion
                </label>
                <br />
                <input id="identification" name="identification" formControlName="identification"
                  placeholder="Nro de Identificacion" class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label for="father">
                  Patrocinador
                </label>
                <br />
                <input class="form-control" type="text" id="father" name="father" formControlName="father" />
              </div>
              <div class="form-group">
                <label for="created_at">
                  Fecha de Registro
                </label>
                <br />
                <input id="created_at" placeholder="Fecha de Registro" class="form-control" name="created_at"
                  type="text" formControlName="created_at" />
              </div>
              <div class="form-group">
                <label for="status">
                  Bloquear acceso
                </label>
                <br />
                <div class="form-group">
                  <label class="custom-switch mt-2">
                    <input type="checkbox" id="status" formControlName="status" name="custom-switch-checkbox"
                      class="custom-switch-input">
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">No permitira que el afiliado ingrese al sistema.</span>
                  </label>
                </div>
              </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4  mb-2">
              <div class="form-group">
                <h6>Datos Secundarios</h6>
              </div>
              <hr />
              <div class="form-group">
                <label for="name">
                  Nombre
                </label>
                <br />
                <input id="name" placeholder="Nombre" class="form-control" name="name" type="text"
                  formControlName="name" />
              </div>
              <div class="form-group">
                <label for="last_name">
                  Apellido:
                </label>
                <br />
                <input id="last_name" placeholder="Apellido" class="form-control" name="last_name" type="text"
                  formControlName="last_name" />
              </div>
              <div class="form-group">
                <label for="address">
                  Direccion
                </label>
                <br />
                <textarea id="address" formControlName="address" placeholder="Direccion"
                  class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="phone">
                  Teléfono
                </label>
                <br />
                <input id="phone" required placeholder="Teléfono" class="form-control" name="phone" type="text"
                  formControlName="phone" />
              </div>
              <div class="form-group">
                <label for="zip_code">
                  Código Postal
                </label>
                <br />
                <input id="zip_code" placeholder="Código Postal" class="form-control" formControlName="zip_code"
                  type="text" />
              </div>
              <div class="form-group">
                <label for="country">
                  Pais
                </label>
                <br />
                <select class="form-select form-control" [selected]="country" formControlName="country">
                  <option value="" disabled selected>Seleccione una opcion</option>
                  <option *ngFor="let country of listCountry" [value]="country.id">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4  mb-2">
              <div class="form-group">
                <h6>Campos Adicionales</h6>
              </div>
              <hr />
              <div class="form-group">
                <label for="birthday">
                  Fecha de Nacimiento:
                </label>
                <br />
                <div class="form-group">
                  <input type="date" id="birthday" formControlName="birthday" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="tax_id">
                  No. de Identificación Fiscal
                </label>
                <br />
                <input id="tax_id" placeholder="No. de Identificación Fiscal" class="form-control"
                  formControlName="tax_id" type="text" />
              </div>
              <div class="form-group">
                <label for="beneficiary_name">
                  Nombre de Beneficiario
                </label>
                <br />
                <input id="beneficiary_name" placeholder="Nombre de Beneficiario" class="form-control" type="text"
                  formControlName="beneficiary_name" />
              </div>
              <div class="form-group">
                <label for="legal_authorized_first">
                  Representante Legal No. 1
                </label>
                <br />
                <input id="legal_authorized_first" placeholder="Representante Legal No. 1" class="form-control"
                  type="text" formControlName="legal_authorized_first" />
              </div>
              <div class="form-group">
                <label for="legal_authorized_second">
                  Representante Legal No. 2:
                </label>
                <br />
                <input id="legal_authorized_second" placeholder="Representante Legal No. 2" class="form-control"
                  type="text" formControlName="legal_authorized_second" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
        Cancelar
      </button>
    </div>
  </form>
</ng-template>
