<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.PRODUCTS-SERVICES.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'PASSIVE-PACK-LIST.TITLE.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            {{ 'PASSIVE-PACK-LIST.SUBTITLE.TEXT' | translate }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div class="form-group">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i-feather name="search" style="color: #96a2b4"></i-feather>
                            </div>
                          </div>
                          <input style="background-color: white" type="text" class="form-control"
                            id="inlineFormInputGroup" (keyup)="updateFilter($event)" aria-label="Search box"
                            placeholder="Búsqueda" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button type="button" (click)="
                        runPassivePackModal(
                          modalChildPassivePack['runPassivePackModal']
                        )
                      " class="btn btn-primary">
                          <i class="bi bi-cash-coin"></i>
                          Ejecutar pool
                        </button>
                      </li>
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-clipboard-check"></i>
                          Copiar
                        </button>
                      </li>

                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-printer"></i>
                          Imprimir
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column name="Afiliado">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.affiliate }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="No. Factura" sortable="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.invoiceId }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha Inicio">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.date }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Packs">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.productName }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Monto Base">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.baseAmount }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Porcentaje">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.dailyPercentage }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Pagos">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.daysToPayQuantity }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Estado">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.status == true" class="col-green">
                        Activa
                      </div>
                      <div *ngIf="row.status == false" class="col-red">
                        Inactiva
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Detalles">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
                          Acciones
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem id="btn-edit" (click)=" passivePackDetailModal(
                            modalChildDetails['passivePackDetailModal']
                          )">
                            <i class="bi bi-eye-fill"></i>
                            <span style="margin-left: 10px">Ver Detalles</span>
                          </a>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-passive-pack-details #modalChildDetails></app-passive-pack-details>
  <app-passive-pack-run-pool-modal #modalChildPassivePack></app-passive-pack-run-pool-modal>
</section>
