<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        Compras
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      Lista de transferencias bancarias.
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>
              Lista de transferencias bancarias.
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i-feather name="search" style="color: #96a2b4"></i-feather>
                            </div>
                          </div>
                          <input style="background-color: white" type="text" class="form-control"
                            id="inlineFormInputGroup" (keyup)="updateFilter($event)" aria-label="Search box"
                            placeholder="{{
                              'USERS-LIST-PAGE.USERS-SEARCH.TEXT' | translate
                            }}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-clipboard-check"></i>
                          {{ 'INDUCEMENTS-PAGE.BTN-COPY.TEXT' | translate }}
                        </button>
                      </li>

                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-printer"></i>
                          {{ 'INDUCEMENTS-PAGE.BTN-PRINT.TEXT' | translate }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column name="Usuario">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.userName }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Referencia de Transacción">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.idTransaction }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Monto">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.amount }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Pagado">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="col-green" *ngIf="row.acredited ==true">
                        Pagado
                      </div>
                      <div class="col-red" *ngIf="row.acredited ==false">
                        Pendiente
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha de la transferencia">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.createdAt }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'USERS-LIST-PAGE.COL-ACTIONS.TEXT' | translate }}" sortable="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <div ngbDropdown container="body">
                        <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
                          {{ 'USERS-LIST-PAGE.COL-ACTIONS.TEXT' | translate }}
                        </button>
                        <div ngbDropdownMenu>
                          <a ngbDropdownItem id="btn-paid" (click)="confirmPaymentTransaction(row)">
                            <i class="fas fa-dollar-sign"></i>
                            <span class="ms-2">Confirmar pago</span>
                          </a>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
