<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.PURCHASES.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'PURCHASE-ORDER-LIST.TITLE.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4></h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i-feather
                                  name="search"
                                  style="color: #0b4423"
                                ></i-feather>
                              </div>
                            </div>
                            <input
                              style="background-color: white"
                              type="text"
                              class="form-control"
                              id="inlineFormInputGroup"
                              (keyup)="updateFilter($event)"
                              aria-label="Search box"
                              placeholder="{{
                                'PURCHASE-ORDER-LIST.SEARCH.TEXT' | translate
                              }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="clipBoardCopy()"
                        >
                          <i class="bi bi-clipboard-check"></i>
                          {{ 'PURCHASE-ORDER-LIST.BTN-COPY.TEXT' | translate }}
                        </button>
                      </li>

                      <li class="nav-item m-2">
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="onPrint()"
                        >
                          <i class="bi bi-printer"></i>
                          {{ 'PURCHASE-ORDER-LIST.BTN-PRINT.TEXT' | translate }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable
                  #table
                  class="material"
                  [rows]="rows"
                  [loadingIndicator]="loadingIndicator"
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [limit]="10"
                  [scrollbarH]="scrollBarHorizontal"
                  [reorderable]="reorderable"
                >
                  <ngx-datatable-column
                    name="{{
                      'PURCHASE-ORDER-LIST.COL-AFFILIATE.TEXT' | translate
                    }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.affiliate }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{
                      'PURCHASE-ORDER-LIST.COL-ORDER.TEXT' | translate
                    }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.order }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{ 'PURCHASE-ORDER-LIST.COL-DATE.TEXT' | translate }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.date }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    name="{{
                      'PURCHASE-ORDER-LIST.COL-PAID-METHOD.TEXT' | translate
                    }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.paidMethod }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{ 'PURCHASE-ORDER-LIST.COL-BANK.TEXT' | translate }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.bank }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{
                      'PURCHASE-ORDER-LIST.COL-STATUS.TEXT' | translate
                    }}"
                    sortable="false"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div
                        *ngIf="row.status == 'Aprobada'"
                        class="badge-outline col-green"
                      >
                        {{ row.status }}
                      </div>
                      <div
                        *ngIf="row.status == 'No aprobada'"
                        class="badge-outline col-red"
                      >
                        {{ row.status }}
                      </div>
                      <div
                        *ngIf="row.status == 'Pendiente'"
                        class="badge-outline col-indigo"
                      >
                        {{ row.status }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{
                      'PURCHASE-ORDER-LIST.COL-STATE.TEXT' | translate
                    }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div
                        *ngIf="row.state == 'Atendida'"
                        class="badge-outline col-green"
                      >
                        {{ row.state }}
                      </div>
                      <div
                        *ngIf="row.state == 'No atendida'"
                        class="badge-outline col-red"
                      >
                        {{ row.state }}
                      </div>
                      <div
                        *ngIf="row.state == 'Pending'"
                        class="badge-outline col-indigo"
                      >
                        {{ row.state }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{
                      'PURCHASE-ORDER-LIST.COL-DETAIL.TEXT' | translate
                    }}"
                    sortable="false"
                  >
                    <ng-template
                      let-value="value"
                      let-row="row"
                      let-rowIndex="rowIndex"
                      ngx-datatable-cell-template
                    >
                      <a class="msr-2 h-auto tblEditBtn">
                        <i class="bi bi-pencil-square">{{
                          'PURCHASE-ORDER-LIST.BTN-SEE-DETAIL.TEXT' | translate
                        }}</i>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
