<!-- Modal Create -->
<ng-template #runPassivePackModal let-modal>

  <div class="modal-header createRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Datos actuales para ejecutar el Pool Adquisición
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <form class="register-form" [formGroup]="passivePackForm">
    <div class="modal-body">
      <ngb-alert [dismissible]="false" class="alert-has-icon" type="warning">
        <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
        <div class="alert-body">
          <div class="alert-title"> {{
            'REQUESTS-PAGE.TITTLE-MSJ-INFO.TEXT'
            | translate
            }}</div>
<ul class="list-unstyled">
          <li>
            Tenga presente que al momento de confirmar la acción de ejecución
            será irreversible en este proceso.
          </li>
          <li>
            Los parámetros que configuren son los que se tomaran en cuenta al
            momento de la ejecución.
          </li>
          <li>
            Si no desea ejecutar los pagos pero quiere saber cuánto es el valor
            a pagar por cada afiliado, es recomendable simular el proceso de
            pagos.
          </li>
        </ul>
</div>
</ngb-alert>
      <!-- <div class="alert alert-warning text-center alert-has-icon">
        <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
        <h6>Importante:</h6>
        <br>
        <ul class="list-unstyled">
          <li>
            Tenga presente que al momento de confirmar la acción de ejecución
            será irreversible en este proceso.
          </li>
          <li>
            Los parámetros que configuren son los que se tomaran en cuenta al
            momento de la ejecución.
          </li>
          <li>
            Si no desea ejecutar los pagos pero quiere saber cuánto es el valor
            a pagar por cada afiliado, es recomendable simular el proceso de
            pagos.
          </li>
        </ul>
      </div> -->

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
          <label for="company_percentage">
            Porcentaje para la empresa
            <span class="text-danger">*</span></label>
          <input type="number" min="0" class="form-control" formControlName="company_percentage" id="company_percentage"
            placeholder="0%" [ngClass]="{
              'is-invalid':
                submitted && passive_pack_controls.company_percentage.errors
            }" />
          <div *ngIf="submitted && passive_pack_controls.company_percentage.errors" class="invalid-feedback">
            <div *ngIf="passive_pack_controls.company_percentage.errors.required">
              Ingrese un valor
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
          <label for="passive_percentage_paid">
            Porcentaje de pago pasivo
            <span class="text-danger">*</span></label>
          <input type="number" min="0" class="form-control" formControlName="passive_percentage_paid"
            id="passive_percentage_paid" placeholder="0%" [ngClass]="{
              'is-invalid':
                submitted &&
                passive_pack_controls.passive_percentage_paid.errors
            }" />
          <div *ngIf="submitted && passive_pack_controls.passive_percentage_paid.errors" class="invalid-feedback">
            <div *ngIf="passive_pack_controls.passive_percentage_paid.errors.required">
              Ingrese un valor
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
          <label>Máximo limite ganacias</label>
          <input type="number" min="0" class="form-control" formControlName="earnings_limit" id="earnings_limit"
            placeholder="0%" [ngClass]="{
              'is-invalid':
                submitted &&
                passive_pack_controls.earnings_limit.errors
            }" />
          <div *ngIf="submitted && passive_pack_controls.earnings_limit.errors" class="invalid-feedback">
            <div *ngIf="passive_pack_controls.earnings_limit.errors.required">
              Ingrese un valor
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <label for="start_date">
            Fecha inicial
            <span class="text-danger">*</span>
          </label>
          <input type="date" id="start_date" formControlName="start_date" class="form-control" [ngClass]="{
            'is-invalid': passive_pack_controls.start_date.touched && passive_pack_controls.start_date.errors
          }" />
          <div *ngIf="passive_pack_controls.start_date.touched && passive_pack_controls.start_date.errors"
            class="invalid-feedback">
            <div *ngIf="passive_pack_controls.start_date.errors.required">
              Ingrese un valor
            </div>
            <div *ngIf="passive_pack_controls.start_date.errors.invalidStartDate">
              La fecha inicial no puede ser igual o mayor a la fecha final.
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
          <label for="final_date">
            Fecha final
            <span class="text-danger">*</span>
          </label>
          <input type="date" id="final_date" formControlName="final_date" class="form-control" [ngClass]="{
            'is-invalid': passive_pack_controls.final_date.touched && passive_pack_controls.final_date.errors
          }" />
          <div *ngIf="passive_pack_controls.final_date.touched && passive_pack_controls.final_date.errors"
            class="invalid-feedback">
            <div *ngIf="passive_pack_controls.final_date.errors.required">
              Ingrese un valor
            </div>
            <div *ngIf="passive_pack_controls.final_date.errors.invalidFinalDate">
              La fecha final debe ser mayor a la fecha inicial.
            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <label>Caso</label>
          <select id="case" class="form-select form-control" formControlName="case" [ngClass]="{
            'is-invalid': submitted && passive_pack_controls.case.errors
          }">
            <option value="">Seleccione una opción</option>
            <option *ngFor="let item of cases" [value]="item">{{ item }}</option>
          </select>
          <div *ngIf="submitted && passive_pack_controls.case.errors" class="invalid-feedback">
            <div *ngIf="passive_pack_controls.case.errors.required">
              Ingrese un valor
            </div>
          </div>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <label for="period_date">
            Periodo
            <span class="text-danger">*</span>
          </label>
          <input type="date" id="period_date" formControlName="period_date" class="form-control" [ngClass]="{
            'is-invalid': submitted && passive_pack_controls.period_date.errors
          }" readonly />
          <div *ngIf="submitted && passive_pack_controls.period_date.errors" class="invalid-feedback">
            <div *ngIf="passive_pack_controls.period_date.errors.required">
              Ingrese un valor
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <label>Porcentaje de empresa por niveles</label>
          <input type="number" id="company_percentage_levels" formControlName="company_percentage_levels" class="form-control" [ngClass]="{
            'is-invalid': passive_pack_controls.company_percentage_levels.touched && passive_pack_controls.company_percentage_levels.errors
          }" />
          <div *ngIf="submitted && passive_pack_controls.company_percentage_levels.errors" class="invalid-feedback">
            <div *ngIf="passive_pack_controls.company_percentage_levels.errors.required">
              Ingrese un valor
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col pt-4">
          <button (click)="addForm()" class="btn btn-primary mb-5">
            Agregar nivel
          </button>
        </div>
      </div>

        <div class="row" formArrayName="levels" style="position: relative; max-height: 250px !important" [perfectScrollbar]>
          <div class="d-flex" *ngFor="let item of levels.controls; let i = index" [formGroupName]="i">
            <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
              <label for="">Nivel</label>
              <input type="number" class="form-control" min="0" name="level" id="level" placeholder="0"
                [attr.id]="'level' + i" formControlName="level" readonly />
            </div>
            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2 ms-4">
              <label for="">Porcentaje</label>
              <input type="number" class="form-control" min="0" name="percentage_level" id="percentage_level"
                placeholder="0" [attr.id]="'percentage_level' + i" formControlName="percentage_level" />
            </div>

            <div class="form-group col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-2 mt-4 ms-4">
              <button class="btn btn-danger mt-1" (click)="deleteSingleRow(i)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
        </div>

    </div>

    <div class="modal-footer">
      <button *ngIf="configurationIsLoaded != false" (click)="confirmExecutePoolProcess()" type="button" class="btn btn-info">
        <i class="bi bi-arrow-repeat"></i>
        Simular pagos del pool para los afiliados
      </button>
      <button type="submit" (click)="onSaveConfiguration()" class="btn btn-primary">Guardar cambios</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
        Cancelar
      </button>
    </div>
  </form>
</ng-template>
