<ng-template #configureWalletModal let-modal>
  <form class="register-form" [formGroup]="walletAddress" (ngSubmit)="showConfirmation()">
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="table-modal-header">
          <div class="modal-about">
            <div class="fw-bold p-t-10 font-17 col-blue">
              Configuración de billetera
            </div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <label for="trc_address" class="col-red" title="Billetera para recibir los pagos y comisiones en USDT.">
            Dirección TRC20 (USDT)
          </label>
          <input type="text" class="form-control" id="trc_address" formControlName="trc_address"
            placeholder="Dirección TRC20" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <label for="bnb_address" class="col-green" title="Billetera para la liberación del token.">
            Dirección RecyCoin (BNB)
          </label>
          <input type="text" class="form-control" id="bnb_address" formControlName="bnb_address"
            placeholder="Dirección BNB Smart Chain" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!walletAddress.dirty">
          {{ 'USERS-LIST-CREATE-MODAL.BTN-SAVE.TEXT' | translate }}
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</ng-template>
