<ng-template #rolDetailModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            {{ 'ROL-LIST-SUMMARY-MODAL.TITLE.TEXT' | translate }}
          </div>
        </div>
      </div>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mt-sm-4 justify-content-center">
      <div class="col-8 col-md-12 col-lg-4">
        <div class="card author-box">
          <div class="card-body">
            <div class="author-box-center">
              <h4>{{ 'ROL-LIST-SUMMARY-MODAL.SUBTITLE.TEXT' | translate }}</h4>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mt-3">
                  <span class="float-start">
                    {{ 'ROL-LIST-SUMMARY-MODAL.LBL-ROL-NAME.TEXT' | translate }}
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mt-3">
                  <span class="float-end text-muted"> {{ rolData.name }} </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mt-3">
                  <span class="float-start">
                    {{
                      'ROL-LIST-SUMMARY-MODAL.LBL-DESCRIPTION.TEXT' | translate
                    }}</span
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="mt-3">
                  <span class="float-end text-muted">
                    {{ rolData.description }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card author-box">
          <div class="card-body">
            <div class="author-box-center">
              <h4>
                {{ 'ROL-LIST-SUMMARY-MODAL.SECOND-SUBTITLE.TEXT' | translate }}
                {{ rolData.name }}
              </h4>
            </div>
            <div class="row">
              <div class="col">
                <ngx-datatable
                  #table
                  class="material"
                  [rows]="rows"
                  [loadingIndicator]="loadingIndicator"
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [limit]="10"
                  [scrollbarH]="scrollBarHorizontal"
                  [reorderable]="reorderable"
                >
                  <ngx-datatable-column
                    name="{{
                      'ROL-LIST-SUMMARY-MODAL.COL-USER.TEXT' | translate
                    }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.user_name }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{
                      'ROL-LIST-SUMMARY-MODAL.COL-FULL-NAME.TEXT' | translate
                    }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.name + ' ' + row.last_name }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
