<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.PURCHASES.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'PURCHASES-LIST-PAGE.TITLE.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4></h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i-feather name="search" class="default-color"></i-feather>
                            </div>
                          </div>
                          <input type="text" class="form-control search-background-color"
                            id="inlineFormInputGroup" (keyup)="updateFilter($event)" aria-label="Search box"
                            placeholder="{{
                              'USERS-LIST-PAGE.USERS-SEARCH.TEXT' | translate
                            }}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary" (click)="clipBoardCopy()">
                          <i class="bi bi-clipboard-check"></i>
                          {{ 'PURCHASES-LIST-PAGE.BTN-COPY.TEXT' | translate }}
                        </button>
                      </li>

                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary" (click)="onPrint()">
                          <i class="bi bi-printer"></i>
                          {{ 'PURCHASES-LIST-PAGE.BTN-PRINT.TEXT' | translate }}
                        </button>
                      </li>
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-file-pdf-fill"></i>
                          PDF
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                  [selectionType]="'checkbox'" [limit]="10" [scrollbarH]="scrollBarHorizontal"
                  [reorderable]="reorderable">
                  <ngx-datatable-column [width]="70" [sortable]="false" [draggable]="false" [resizeable]="false"
                    [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="true">
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'PURCHASES-LIST-PAGE.COL-AFFILIATE.TEXT' | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.affiliate }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'PURCHASES-LIST-PAGE.COL-NAME-AND-LASTNAME.TEXT'
                        | translate
                    }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.nameAndLastName }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="{{ 'PURCHASES-LIST-PAGE.COL-BILL.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.noBill }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'PURCHASES-LIST-PAGE.COL-DATE.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.date }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'PURCHASES-LIST-PAGE.COL-BILL-STATE.TEXT' | translate
                    }}" sortable="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.billState == 'Activa'" class="badge-outline col-green">
                        {{ row.billState }}
                      </div>
                      <div *ngIf="row.billState == 'Anulada'" class="badge-outline col-red">
                        {{ row.billState }}
                      </div>
                      <div *ngIf="row.billState == 'Pending'" class="badge-outline col-indigo">
                        {{ row.billState }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'PURCHASES-LIST-PAGE.COL-PAID.TEXT' | translate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.paid == 'Pagada'" class="badge-outline col-green">
                        {{ row.paid }}
                      </div>
                      <div *ngIf="row.paid == 'Anulada'" class="badge-outline col-red">
                        {{ row.paid }}
                      </div>
                      <div *ngIf="row.paid == 'Pending'" class="badge-outline col-indigo">
                        {{ row.paid }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{
                      'PURCHASES-LIST-PAGE.COL-DETAILS.TEXT' | translate
                    }}" sortable="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <a class="msr-2 h-auto tblEditBtn">
                        <i class="bi bi-pencil-square">{{
                          'PURCHASES-LIST-PAGE.BTN-DETAILS.TEXT' | translate
                          }}</i>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
