<section class="main-content m-t-0">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.AFFILIATES.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'AFFILIATES-LIST-PAGE.TITLE.TEXT' | translate }}
    </li>
    <li class="breadcrumb-item">
      {{ 'UNILEVEL-TREE-PAGE.TITLE.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>
              {{ 'UNILEVEL-TREE-PAGE.TITLE.TEXT' | translate }}
            </h4>
          </div>
          <div class="card-body" class="media-list position-relative"
          style="position: relative; max-width: 100% !important"
          [perfectScrollbar]>
            <div *ngIf="showDiv">
              <app-unilevel-tree-component [nodeTemplate]="nodeTemplate" [data]="tree" #exampleChart="orgChart"
                (loadFamilyTree)="onloadFamilyTree($event)">
              </app-unilevel-tree-component>

              <ng-template #nodeTemplate let-node>
                <div class="chart-node">
                  <img [src]="node?.image" />
                  <div class="name">
                    <span style="font-size: 11px;">
                      {{ node?.user_name }}
                    </span>
                  </div>
                  <div *ngIf="node.children.length" (click)="node.hideChildren = !node.hideChildren"
                    class="tree-fold-btn">
                    {{ node.hideChildren ? '+' : '-' }}
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">
    Loading...</p>
</ngx-spinner>