<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.COMPENSATION-PLANS.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'CALCULATION-GROUPS-PAGE.TITLE.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>{{ 'CALCULATION-GROUPS-PAGE.SUBTITLE.TEXT' | translate }}</h4>
          </div>
          <div class="card-body">
            <!-- Add content here -->
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div class="form-group">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i-feather
                                name="search"
                                style="color: #96a2b4"
                              ></i-feather>
                            </div>
                          </div>
                          <input
                            style="background-color: white"
                            type="text"
                            class="form-control"
                            id="inlineFormInputGroup"
                            (keyup)="updateFilter($event)"
                            aria-label="Search box"
                            placeholder="{{
                              'USERS-LIST-PAGE.USERS-SEARCH.TEXT' | translate
                            }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="header-buttons-left">
                      <div class="tbl-btn-style">
                        <button
                          (click)="
                            createOpenModal(
                              modalChildCreate['calculationCreateModal']
                            )
                          "
                          class="btn btn-icon icon-left btn-primary rounded-button"
                        >
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2" >
                        <button type="button" (click)="clipBoardCopy()" class="btn btn-primary">
                          <i class="bi bi-clipboard-check"></i>
                          {{ 'CLOSURE-CONCEPTS.BTN-COPY.TEXT' | translate }}
                        </button>
                      </li>

                      <li class="nav-item m-2" >
                        <button type="button"  (click)="onPrint()" class="btn btn-primary">
                          <i class="bi bi-printer"></i>
                          {{ 'CLOSURE-CONCEPTS.BTN-PRINT.TEXT' | translate }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable
                  #table
                  class="material"
                  [rows]="rows"
                  [loadingIndicator]="loadingIndicator"
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [limit]="10"
                  [scrollbarH]="scrollBarHorizontal"
                  [reorderable]="reorderable"
                >
                  <ngx-datatable-column
                    name="Grupo de Calculo"
                    sortable="false"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.name }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Descripción">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.description }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div ngbDropdown container="body">
                        <button
                          type="button"
                          class="btn btn-outline-primary btn-sm"
                          ngbDropdownToggle
                        >
                          {{ 'CONCEPT-LIST-PAGE.COL-ACTIONS.TEXT' | translate }}
                        </button>
                        <div ngbDropdownMenu>
                          <a
                            ngbDropdownItem
                            id="btn-edit"
                            (click)="
                              modalChildEdit.editOpenModal(
                                modalChildEdit['calculationEditModal'],
                                row
                              )
                            "
                          >
                            <i class="fas fa-edit"></i>
                            <span style="margin-left: 10px">{{
                              'CONCEPT-LIST-PAGE.BTN-EDIT.TEXT' | translate
                            }}</span>
                          </a>

                          <a
                            ngbDropdownItem
                            id="btn-delete"
                            (click)="deleteSingleRow(row.id)"
                          >
                            <i class="fas fa-trash-alt"></i>
                            <span style="margin-left: 10px">{{
                              'CONCEPT-LIST-PAGE.BTN-DELETE.TEXT' | translate
                            }}</span>
                          </a>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-calculation-groups-create-modal
    #modalChildCreate
    (loadCalculationList)="loadCalculationList()"
  ></app-calculation-groups-create-modal>
  <app-calculation-groups-edit-modal
    #modalChildEdit
    (loadCalculationList)="loadCalculationList()"
  ></app-calculation-groups-edit-modal>
</section>
