<!-- Modal Create -->
<ng-template #editSecurityPinModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Cambiar pin de seguridad
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <form class="register-form" [formGroup]="editSecurityPinForm" [autocomplete]="off"
    (ngSubmit)="onChangePasswordUpload()">
    <div class="modal-body">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="currentPassword">
            {{
            'ADMIN-EDIT-PASSWORD-MODAL.LBL-CURRENT-PASSWORD.TEXT' | translate
            }}
            <span class="text-danger">*</span></label>
          <input type="password" class="form-control" id="currentPassword" autocomplete="new-password"
            formControlName="currentPassword" required="required" [ngClass]="{
              'is-invalid':
                submitted &&
                edit_security_pin_controls.currentPassword.errors
            }" />
          <div *ngIf="
              submitted && edit_security_pin_controls.currentPassword.errors
            " class="invalid-feedback">
            <div *ngIf="
            edit_security_pin_controls.currentPassword.errors.required
              ">
              {{
              'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-CURRENT-PASSWORD.TEXT'
              | translate
              }}
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="pin">Pin de Seguridad<span class="text-danger">*</span></label>
          <input type="password" class="form-control" formControlName="pin" autocomplete="new-password" id="pin"
            required="required" [ngClass]="{
              'is-invalid':
                submitted &&
                edit_security_pin_controls.pin.errors
            }" />
          <div *ngIf="
              submitted &&
              edit_security_pin_controls.pin.errors
            " class="invalid-feedback">
            <div *ngIf="
            edit_security_pin_controls.pin.errors
                  .required
              ">
              El Pin de Seguridad es requerido
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="confirmPin">Repita Pin de Seguridad<span class="text-danger">*</span></label>
          <input type="password" class="form-control" formControlName="confirmPin" autocomplete="new-password"
            id="confirmPin" required="required" [ngClass]="{
              'is-invalid':
                submitted &&
                edit_security_pin_controls.confirmPin.errors
            }" />
          <div *ngIf="
              submitted &&
              edit_security_pin_controls.confirmPin.errors
            " class="invalid-feedback">
            <div *ngIf="
            edit_security_pin_controls.confirmPin.errors
                  .required
              ">
              El Pin de Seguridad es requerido
            </div>
          </div>
          <div *ngIf="submitted && editSecurityPinForm.hasError('passwordMismatch')" class="invalid-feedback">
            <div *ngIf="editSecurityPinForm.get('confirmPin').touched">
              {{
              'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-CONFIRM-EQUALS-PASSWORD.TEXT'
              | translate
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">
        {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.BTN-SAVE.TEXT' | translate }}
      </button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
        {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.BTN-CANCEL.TEXT' | translate }}
      </button>
    </div>
  </form>
</ng-template>
