<!-- Modal Create -->
<ng-template #changePasswordModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            {{ 'ADMIN-EDIT-PASSWORD-MODAL.TITLE.TEXT' | translate }}
          </div>
        </div>
      </div>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <form
    class="register-form"
    [formGroup]="updatePasswordForm"
    [autocomplete]="off"
    (ngSubmit)="onSaveFormValues()"
  >
    <div class="modal-body align-items-center">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="rol_name">
            {{
              'ADMIN-EDIT-PASSWORD-MODAL.LBL-CURRENT-PASSWORD.TEXT' | translate
            }}
            <span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            id="current_password"
            autocomplete="new-password"
            formControlName="current_password"
            placeholder="Contraseña actual"
            required="required"
            [ngClass]="{
              'is-invalid':
                submitted && change_password_controls.current_password.errors
            }"
          />
          <div
            *ngIf="
              submitted && change_password_controls.current_password.errors
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="change_password_controls.current_password.errors.required"
            >
              {{
                'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-CURRENT-PASSWORD.TEXT'
                  | translate
              }}
            </div>
          </div>
        </div>

        <div class="col-12 mb-3">
          <label for="description">
            {{ 'ADMIN-EDIT-PASSWORD-MODAL.LBL-NEW-PASSWORD.TEXT' | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            formControlName="new_password"
            id="new_password"
            autocomplete="new-password"
            placeholder="Nueva contraseña"
            required="required"
            [ngClass]="{
              'is-invalid':
                submitted &&
                change_password_controls.new_password.errors &&
                Pwd.errors
            }"
          />
          <div
            *ngIf="submitted && change_password_controls.new_password.errors"
            class="invalid-feedback"
          >
            <div *ngIf="change_password_controls.new_password.errors.required">
              {{
                'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-NEW-PASSWORD.TEXT'
                  | translate
              }}
            </div>
            <div
              class="form-text text-danger mb-3 msl-3 fw-bold"
              *ngIf="Pwd.errors?.['minlength'] || Pwd.errors?.['maxlength'] && (Pwd.dirty || Pwd.touched)"
            >
              {{
                'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-SIZE-PASSWORD.TEXT'
                  | translate
              }}
            </div>
          </div>
        </div>

        <div class="col-12 mb-3">
          <label for="description">
            {{
              'ADMIN-EDIT-PASSWORD-MODAL.LBL-CONFIRM-PASSWORD.TEXT' | translate
            }}
            <span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            formControlName="confirm_password"
            id="confirm_password"
            autocomplete="new-password"
            placeholder="Confirmar nueva contraseña"
            required="required"
            [ngClass]="{
              'is-invalid':
                submitted &&
                change_password_controls.confirm_password.errors &&
                PwdConfirm
            }"
          />
          <div
            *ngIf="
              submitted && change_password_controls.confirm_password.errors
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="change_password_controls.confirm_password.errors.required"
            >
              {{
                'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-CONFIRM-PASSWORD.TEXT'
                  | translate
              }}
            </div>
            <div
              *ngIf="change_password_controls.confirm_password.errors.mustMatch"
            >
              {{
                'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-CONFIRM-EQUALS-PASSWORD.TEXT'
                  | translate
              }}
            </div>
            <div
              class="form-text text-danger mb-3 msl-3 fw-bold"
              *ngIf="PwdConfirm.errors?.['minlength'] || PwdConfirm.errors?.['maxlength'] && (PwdConfirm.dirty || PwdConfirm.touched)"
            >
              {{
                'ADMIN-EDIT-PASSWORD-MODAL.MSJ-ERROR-SIZE-PASSWORD.TEXT'
                  | translate
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          {{ 'ADMIN-EDIT-PASSWORD-MODAL.BTN-SAVE.TEXT' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          {{ 'ADMIN-EDIT-PASSWORD-MODAL.BTN-CANCEL.TEXT' | translate }}
        </button>
      </div>
    </div>
  </form>
</ng-template>
