<div class="main-container">
  <div class="main-content">
    <h1 class="title typing-effect">White Paper: Tokenización de un Complejo Turístico Ecológico</h1>
    <p class="subtitle typing-effect">Por Bouamama Oukkal</p>
  </div>

  <section class="feature-section">
    <div *ngFor="let section of sections" class="feature-item card p-4 mb-4" #section [id]="section.id">
      <h2 class="neon-text typing-effect">{{ section.title }}</h2>
      <p [innerHTML]="visibleSections.includes(section.id) ? section.content : ''" class="typing-effect"></p>
    </div>
  </section>

  <div class="cta-section text-center mt-5 typing-effect">
    <button class="neon-button">Descargar White Paper</button>
    <button class="neon-button">Contactar</button>
  </div>
</div>
