<ng-template #shareModal let-modal>

  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Compartir
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <st-inline-share-buttons [config]="inlineShareButtonsConfig"></st-inline-share-buttons>
    </div>

  </div>
</ng-template>
