<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        Academia Trading
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/app/home"> <i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <div class="row align-items-stretch ml-3">
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 mb-4" *ngFor="let item of products">
                <div class="card bg-dark text-white h-90" (mouseenter)="item.showButton = true" (mouseleave)="item.showButton = false">

                  <img [src]="item.image" alt="Imagen del producto" class="card-img img-fluid">
                  <div class="card-img-overlay d-flex flex-column justify-content-between">

                    <div class="d-flex justify-content-center" *ngIf="item.showButton">
                      <button class="btn btn-primary pricingTable-signup">Añadir</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
