<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{'MENUITEMS.FUNDING-ACCOUNTS.TEXT' | translate}}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/app/home"> <i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="section-body">
    <div class="card">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="padding-20">
            <ul ngbNav #nav="ngbNav" [activeId]="active" (activeIdChange)="onTabChange($event)" class="nav-tabs">
              <li [ngbNavItem]="4">
                <a ngbNavLink> {{'MENUITEMS.FUNDING-ACCOUNTS.TEXT' | translate}}</a>
                <ng-template ngbNavContent>
                  <div class="tab-pane">
                    <div class="card-body">
                      <div class="row mt-2">
                        <app-products [tabActive]="active" [addPurchase]="true"></app-products>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
