<!-- Modal Create -->
<ng-template #editPasswordUploadModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.TITLE.TEXT' | translate }}
          </div>
        </div>
      </div>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <form
    class="register-form"
    [formGroup]="editPasswordUploadForm"
    [autocomplete]="off"
    (ngSubmit)="onChangePasswordUpload()"
  >
    <div class="modal-body">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <label for="password_upload">
            {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.LBL-PASSWORD.TEXT' | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            id="password_upload"
            autocomplete="off"
            formControlName="password_upload"
            required="required"
            [ngClass]="{
              'is-invalid':
                submitted &&
                edit_password_upload_controls.password_upload.errors
            }"
          />
          <div
            *ngIf="
              submitted && edit_password_upload_controls.password_upload.errors
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                edit_password_upload_controls.password_upload.errors.required
              "
            >
              {{
                'ADMIN-PASSWORD-UPLOAD-MODAL.MSJ-ERROR-PASSWORD.TEXT'
                  | translate
              }}
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <label for="confirm_password_upload"
            >{{
              'ADMIN-PASSWORD-UPLOAD-MODAL.LBL-CONFIRM-PASSWORD.TEXT'
                | translate
            }}<span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            formControlName="confirm_password_upload"
            id="confirm_password_upload"
            required="required"
            [ngClass]="{
              'is-invalid':
                submitted &&
                edit_password_upload_controls.confirm_password_upload.errors
            }"
          />
          <div
            *ngIf="
              submitted &&
              edit_password_upload_controls.confirm_password_upload.errors
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="
                edit_password_upload_controls.confirm_password_upload.errors
                  .required
              "
            >
              {{
                'ADMIN-PASSWORD-UPLOAD-MODAL.MSJ-ERROR-CONFIRM-PASSWORD.TEXT'
                  | translate
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">
        {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.BTN-SAVE.TEXT' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.BTN-CANCEL.TEXT' | translate }}
      </button>
    </div>
  </form>
</ng-template>
