<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.VIRTUAL-WALLET.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'WALLET-REFILL.TITLE.TEXT' | translate }}
    </li>
  </ul>

  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            {{ 'WALLET-REFILL.SUBTITLE.TEXT' | translate }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i-feather name="search" style="color: #96a2b4"></i-feather>
                            </div>
                          </div>
                          <input style="background-color: white" type="text" class="form-control"
                            id="inlineFormInputGroup" (keyup)="updateFilter($event)" aria-label="Search box"
                            placeholder="Búsqueda" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary" (click)="confirmOption()">
                          <i class="bi bi-clipboard-check"></i>
                          Procesar
                        </button>
                      </li>
                      <li class="nav-item m-2" (click)="clipBoardCopy()">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-clipboard-check"></i>
                          Copiar
                        </button>
                      </li>
                      <li class="nav-item m-2" (click)="onPrint()">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-printer"></i>
                          Imprimir
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <ul class="nav">
                    <li class="nav-item m-2">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          [(ngModel)]="proccessOptionValue" [value]="1" />
                        <label class="form-check-label" for="inlineRadio1">Negarlo y devolver a Billetera</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          [(ngModel)]="proccessOptionValue" [value]="2" />
                        <label class="form-check-label" for="inlineRadio2">Pagarlo con COINPAYMENTS</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                          [(ngModel)]="proccessOptionValue" [value]="3" />
                        <label class="form-check-label" for="inlineRadio3">Pagarlo con COINPAY.CR</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                          [(ngModel)]="proccessOptionValue" [value]="4" />
                        <label class="form-check-label" for="inlineRadio4">Pagarlo del todo</label>
                      </div>
                    </li>
                  </ul>
                </div>
                <ngx-datatable id="htmlTable" #table class="material" [rows]="rows"
                  [loadingIndicator]="loadingIndicator" columnMode="force" [headerHeight]="50" [footerHeight]="50"
                  rowHeight="auto" [limit]="10" [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column name="Seleccionar">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <input class="form-check-input" type="checkbox" [(ngModel)]="row.isSelected"
                        (change)="onRowSelectChange(row)">
                    </ng-template>
                    <ng-template ngx-datatable-header-template let-column="column">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="selectAll"
                        (change)="selectAllRows($event)">
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Afiliado">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.adminUserName }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Observación">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.concept }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Monto a retirar (USD)">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="col-red">
                        {{ row.amount }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Retención (%)">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="col-yellow">
                        {{row.retention}}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Total a pagar (USD)">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="col-green">
                        {{ row.amount }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.createdAt }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
