<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'ADMIN-ITEMS.PURCHASES.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      Modificar Modelos (1A), (1B) y (2)
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4></h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex flex-wrap mb-2">
                      <label class="ms-2"><input type="radio" name="searchField" value="userName"
                          [(ngModel)]="searchField"> Afiliado</label>
                      <label class="ms-2"><input type="radio" name="searchField" value="invoiceId"
                          [(ngModel)]="searchField"> N°. Factura</label>
                      <label class="ms-2"><input type="radio" name="searchField" value="paymentGroupId"
                          [(ngModel)]="searchField"> Modelo</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="table-search-area">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i-feather name="search" class="default-color"></i-feather>
                            </div>
                          </div>
                          <input type="text" class="form-control search-background-color" id="inlineFormInputGroup"
                            (keyup)="updateFilter($event)" aria-label="Search box" placeholder="Busqueda" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-end">
                    <ul class="nav justify-content-end">
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary" (click)="openModal()">
                          <i class="bi bi-clipboard-check"></i>
                          Modificar saldos
                        </button>
                      </li>
                      <li class="nav-item m-2">
                        <button type="button" class="btn btn-primary" (click)="copyTableData()">
                          <i class="bi bi-clipboard-check"></i>
                          Copiar
                        </button>
                      </li>
                      <li class="nav-item m-2" (click)="generetedPdf()">
                        <button type="button" class="btn btn-primary">
                          <i class="bi bi-file-pdf-fill"></i>
                          PDF
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <ngx-datatable id="table" #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                  [selectionType]="'checkbox'" (select)="onSelect($event)" [limit]="12"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column [width]="70" [sortable]="false" [draggable]="false" [resizeable]="false"
                    [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="true">
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Afiliado">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.userName }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="N# Factura">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.invoiceId }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Monto">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.baseAmount }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Modelo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="col-red" *ngIf="row.paymentGroupId == 2">
                        Modelo 2
                      </div>
                      <div class="col-blue" *ngIf="row.paymentGroupId == 7">
                        Modelo 1A
                      </div>
                      <div class="col-green" *ngIf="row.paymentGroupId == 8">
                        Modelo 1B
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha compra">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.createdAt }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Detalles" sortable="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <a class="msr-2 h-auto tblEditBtn">
                        <i class="bi bi-pencil-square">Acciones</i>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-split-balances-modal></app-split-balances-modal>
