<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container register-container">
    <div class="card register-card">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="register-body">
              <div class="text-center">
                <div class="brand-wrapper">
                  <img src="assets/images/Logo-AI.png" alt="logo" class="logo" /><span class="logo-name">recycoin</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
