<main class="main-container">
  <nav class="navbar">
    <img
      src="../../../assets/images/logo-yellow.png"
      alt="RecyCoin"
      class="navbar-logo neon-effect"
    />
    <button class="navbar-toggle" (click)="toggleNavbar()">
      <label class="menu-label">Menú</label>
      <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-nav" [class.show]="isNavbarVisible">
      <!-- <a class="nav-link hover-glow" href="#" (click)="openNewTab('/team'); $event.preventDefault()">Colaboradores</a> -->
      <a
        class="nav-link hover-glow"
        href="#"
        (click)="showDocument('recycoinProject'); $event.preventDefault()"
        >Proyecto Recycoin</a
      >
      <a
        class="nav-link hover-glow"
        href="#"
        (click)="showDocument('whitePaper'); $event.preventDefault()"
        >White Papper</a
      >
      <a
        class="nav-link hover-glow"
        href="#"
        (click)="
          openNewTab(
            'https://bscscan.com/address/0x7c482FF834dfb546A8E48C14f3C34652E9826723#code'
          );
          $event.preventDefault()
        "
        >BNB Escáner</a
      >
      <a class="nav-link hover-glow" href="#" routerLink="/products-preview"
        >Producto</a
      >
      <button class="btn neon-button" (click)="openNewTab('/signin')">
        Ingresar
      </button>
    </div>
  </nav>

  <div class="main-content">
    <div class="title-group">
      <h5 class="title neon-text">Una plataforma que impulsa el cuidado</h5>
      <h5 class="title neon-text m-0">del medio ambiente</h5>
      <h5 class="title neon-text m-0">con un token ecológico</h5>
    </div>

    <div class="crypto-animation">
      <i class="bi bi-currency-bitcoin"></i>
      <i class="bi bi-currency-ethereum"></i>
      <i class="bi bi-currency-dollar"></i>
    </div>
  </div>

  <div class="feature-section">
    <div class="feature-item">
      <p>Cripto ecológica</p>
    </div>
    <div class="feature-item">
      <p>Transacciones seguras</p>
    </div>
    <div class="feature-item">
      <p>Análisis en tiempo real</p>
    </div>
    <div class="feature-item">
      <p>Seguridad biométrica</p>
    </div>
  </div>

  <div class="cta-section">
    <button class="btn neon-button" (click)="showDocument('legalDoc')">
      Documentos Legales
    </button>
    <button class="btn neon-button" routerLink="/signup">Crear Cuenta</button>
    <button class="btn neon-button" routerLink="/contact">
      Formulario Contacto
    </button>
    <button class="btn neon-button" routerLink="/testimonials">
      Testimonios
    </button>
  </div>
</main>
<app-pdf-viewer></app-pdf-viewer>
