<main class="main-container">
  <nav class="navbar">
    <img src="../../../assets/images/logo-yellow.png" alt="RecyCoin" class="navbar-logo neon-effect" />
    <button class="navbar-toggle" (click)="toggleNavbar()">
      <label class="menu-label">Menú</label>
      <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-nav" [class.show]="isNavbarVisible">
      <!-- <a class="nav-link hover-glow" href="#" (click)="openNewTab('/team'); $event.preventDefault()">Colaboradores</a> -->
      <a class="nav-link hover-glow" href="#"
        (click)="showDocument('recycoinProject'); $event.preventDefault()">Proyecto Recycoin</a>
      <a class="nav-link hover-glow" href="#" (click)="showDocument('whitePaper'); $event.preventDefault()">White
        Papper</a>
      <a class="nav-link hover-glow" href="#" (click)="
          openNewTab(
            'https://bscscan.com/address/0x7c482FF834dfb546A8E48C14f3C34652E9826723#code'
          );
          $event.preventDefault()
        ">BNB Escáner</a>
      <a class="nav-link hover-glow" href="#" routerLink="/products-preview">Producto</a>
      <button class="btn neon-button" (click)="openNewTab('/signin')">
        Ingresar
      </button>
    </div>
  </nav>

  <div class="main-content">
    <div class="title-group">
      <h5 class="title neon-text">El token ecológico</h5>
      <h5 class="title neon-text m-0">que valora tu patrimonio</h5>
      <h5 class="title neon-text m-0">y el medioambiente</h5>
    </div>

    <div class="crypto-animation">
      <i class="bi bi-currency-bitcoin"></i>
      <i class="bi bi-currency-ethereum"></i>
      <i class="bi bi-currency-dollar"></i>
    </div>
  </div>

  <div class="video-button-container">
    <button class="video-button" [ngClass]="{'preview-active': isPreviewHovered}" (mouseenter)="showPreview()"
      (mouseleave)="hidePreview()" (click)="toggleLanguageMenu()">
      <i class="fas fa-play"></i>
      {{ videos[currentLanguage].title }}

      <div class="language-menu" *ngIf="isLanguageMenuOpen">
        <div class="language-option" (click)="selectLanguage('es')">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="11.5" stroke="currentColor" />
            <path d="M15.5 12L10 15V9L15.5 12Z" fill="currentColor" />
          </svg>
          Español
        </div>
        <div class="language-option" (click)="selectLanguage('en')">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="11.5" stroke="currentColor" />
            <path d="M15.5 12L10 15V9L15.5 12Z" fill="currentColor" />
          </svg>
          English
        </div>
      </div>
    </button>
  </div>

  <div class="video-modal" [ngStyle]="{'display': showVideoModal ? 'flex' : 'none'}">
    <div class="modal-overlay" (click)="closeVideo()"></div>
    <div class="modal-content">
      <button class="close-button" (click)="closeVideo()">×</button>
      <iframe title="reproductor" [src]="currentVideoUrl | safe" width="100%" height="100%" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="feature-section">
    <div class="feature-item">
      <p>Cripto ecológica</p>
    </div>
    <div class="feature-item">
      <p>Transacciones seguras</p>
    </div>
    <div class="feature-item">
      <p>Análisis en tiempo real</p>
    </div>
    <div class="feature-item">
      <p>Seguridad biométrica</p>
    </div>
  </div>

  <div class="cta-section">
    <button class="btn neon-button" (click)="showDocument('legalDoc')">
      Documentos Legales
    </button>
    <button class="btn neon-button" routerLink="/signup">Crear Cuenta</button>
    <button class="btn neon-button" routerLink="/contact">
      Formulario Contacto
    </button>
    <button class="btn neon-button" routerLink="/testimonials">
      Testimonios
    </button>
  </div>
</main>
<app-pdf-viewer></app-pdf-viewer>
