<main class="main-container">
  <nav class="navbar">
    <a class="navbar-brand neon-text" href="#">RecyCoin</a>
    <button class="navbar-toggle" (click)="toggleNavbar()">
      <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-nav" [class.show]="isNavbarVisible">
      <a class="nav-link hover-glow" href="#" routerLink="/products-preview">Producto</a>
      <a class="nav-link hover-glow" href="#">Historia</a>
      <a class="nav-link hover-glow" href="#">Docs</a>
      <a class="nav-link hover-glow" href="#" (click)="openNewTab(urlPDF)">White Papper</a>
      <button class="btn neon-button" (click)="openNewTab('/signin')">Conectar</button>
    </div>
  </nav>

  <div class="main-content">
    <h1 class="title neon-text">Plataforma de Criptomonedas del Futuro</h1>
    <p class="subtitle">Segura, fácil de usar y ecológica para RecyCoin y otras criptomonedas</p>
    <div class="crypto-animation">
      <i class="bi bi-currency-bitcoin"></i>
      <i class="bi bi-currency-ethereum"></i>
      <i class="bi bi-currency-dollar"></i>
    </div>
  </div>

  <div class="feature-section">
    <div class="feature-item">
      <p>Cripto ecológica</p>
    </div>
    <div class="feature-item">
      <p>Transacciones seguras</p>
    </div>
    <div class="feature-item">
      <p>Análisis en tiempo real</p>
    </div>
    <div class="feature-item">
      <p>Seguridad biométrica</p>
    </div>
  </div>

  <div class="cta-section">
    <button class="btn neon-button">Saber Más</button>
    <button class="btn neon-button">Contáctanos</button>
    <button class="btn neon-button" routerLink="/signup">Crear Cuenta</button>
    <button class="btn neon-button">Aprende Más</button>
  </div>
</main>
